@model AsteriskBrowserAL.Models.EventsDetails

@{
    Layout = null;
}
<span style="color:red;font-weight:bold" id="Validation"></span>
<br />
<br />
 <div class="row">
    <div class=col-xs-12>
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-4"><span style="color:red;font-weight:bold">*S</span>tatus</label>
                <div class="col-sm-6">
                    @Html.DropDownList("SlotStatus", null, "--Select--", new { @class = "form-control", @id = "SlotStatus", required = "required" })
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-12">
                <label class="col-sm-4"><span style="color:red;font-weight:bold">*R</span>emark</label>
                <div class="col-sm-6">
                    @Html.TextAreaFor(model => model.Remark, new { @class = "form-control", id = "Remark", required = "required" })
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" value="@Model.SlotId" id="SlotId" />
