@model AsteriskBrowserAL.Models.Mail

<input type="hidden" value="@Model.Id" id="InboxId" />
<style>
    a:active, a:hover {
        outline: 0; 
    }
</style>
<div class="col-xs-12">
    <div class="message-content" id="id-message-content">
        <div class="message-header clearfix">
            <div class="col-xs-12">
                <span style="white-space:nowrap" class="text-left"><b class="blue">&emsp;&emsp;From</b>&emsp;&emsp;:&emsp;<a onclick="ReplyMail(@Model.From)">@Model.Username</a></span><br />
                <span style="white-space:nowrap" class="text-left"><b class="blue">&emsp;&emsp;To</b>  &emsp;&emsp;&emsp;:&emsp;@Model.SendTo</span><br />
                <span style="white-space:nowrap">
                    <span class="text-left"><b class="blue">&emsp;&emsp;Subject</b>&emsp;:&emsp;@Model.subject</span>
                    <span style="float:right"> <i class="glyphicon glyphicon-time blue"></i>&nbsp;@Model.FirstInserted</span>
                </span>
                <br />
            </div>
        </div>
        <div class="hr hr-double"></div>
        <div class="message-body">
            <p style="margin-left:3em">
                @Html.Raw(Model.Content)
            </p>
        </div>
    </div>
</div>





