@model AsteriskBrowserAL.Models.PlayersData
@{

    ViewBag.Title = "PlayersE";

}




<!-- #section:basics/content.breadcrumbs -->
<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-database"></i>
            <a href="#">Settings</a>
        </li>
        <li>
            <i class=""></i>
            Help Desk
        </li>
        <li class="active">Executives</li>
    </ol>
    <!-- /section:basics/content.breadcrumbs -->
</section>
<br/>
<div class="page-header">
    <h1>
     
        <small style="float:right;">
            @Html.ActionLink("Back to details", "Players")
        </small>
    </h1>
</div>






<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <form class="form-horizontal" role="form">
                @using (Html.BeginForm("PlayersC", "SeHelpDesk", FormMethod.Post))
                {
                    <span style="color:red;font-weight:bold" id="Validation"></span>

                <div class="widget-box">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            Executive Details
                        </h5>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main">

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-6">
                                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Group</label>
                                                    <div class="col-sm-6" style="font:12px arial;">
                                                        <select id="GroupId" name="GroupId" class="form-control"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                       
                                        
                                    </div>
                                </div>

                     </div>        
                }
</form>
            <div id="SearchDiv">

            </div>
            </div>
        </div>                    
                    
                    
                       <div id="imagemodal" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
                                    <p style="position:absolute; top: 50%; left:50%;">
                                        <img height="50" width="50" src="~/LoaderImages/ajax-loader.gif" />
                                    </p>
                                </div>

</section>



<script>


    function OnloadData() {
        GetGroupsDropDown()
    }
    window.onload = OnloadData();

   

    

    function GetGroupsDropDown() {
       
            $.ajax({
                url: '/SeHelpDesk/GetGroupsDropDown',
                success: function (Data) {
                    var Group = $('#GroupId')
                    Group.children().remove();
                    Group.append($("<option>").val("").text("--Select--"))
                    $.each(Data, function (i, record) {
                        Group.append($("<option>").val(record.HDExecutiveGroupId).text(record.GroupName));
                    });
                    $('#GroupId').append(Group);
                }
            })
    }

    $("#GroupId").change(function () {
        var GroupId = $("#GroupId").val();
        if ( GroupId >= 0) {
            $.ajax({
                url: '/SeHelpDesk/GetPlayersWithGroupForEdit',
                data: { GroupId: GroupId, },
                success: function (Data) {
                    $("#SearchDiv").html(Data)
                }
            })
        }
        else {
            $("#SearchDiv").html("")
        }
    })



    $("#Save").click(function () {

        var Ids = " ";
        var result = $('#Check:checked');

        $.each(result, function (i, result) {
            Ids += result.value + ",";

        });
        if (Ids != "") {
            SaveData(Ids)
        }
        else {

        }
    })


    function SaveData(Data) {
      
        var GroupId = $("#GroupId").val();
        $.ajax({
            url: "/SeHelpDesk/UpdatePlayers",
            data: { StaffIds: Data, GroupId: GroupId },
            success: function (Data) {
            
                $("#SearchDiv").html(Data)
                document.getElementById("SaveVal").innerHTML = "Data saved"

            }
        })
    }












</script>