@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/png" href="~/Content/images/Asterisk.png">
    <title>
        Asterisk
    </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")

    @using AsteriskBrowserAL.Helpers


    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>*@



</head>

<body class="skin-blue sidebar-mini" id="form">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <div class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini">
                    <i class="fa fa-asterisk"></i>
                    a
                </span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg">
                    <i class="fa fa-asterisk"></i>
                    asterisk
                </span>
            </div>

            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav"></ul>
                </div>
            </nav>
        </header>

    <br/>
        <br />
        <br />
        <br />
        <br />

        <div class="row">

            <div style="text-align:center" >
                <img src="~/LoaderImages/Session.png" />
                <text style="font-weight:bold;font-size:20px;color:#ffffff">Your session has timed out. Please <a href="/Account/Login">sign in</a> again.</text>
            </div>

            
            <!-- /.col -->
        </div>

    </div><!-- ./wrapper -->



    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0
        </div>
        <strong>Copyright &copy; 2015-2016 <a href="http://www.atginformatics.com" target="_blank">ATG Informatics India Private Limited</a>.</strong> All rights reserved.
    </footer>

</body>
</html>


