@model IEnumerable<AsteriskBrowserAL.Models.Strength>
@{
    ViewBag.Title = "Strength";
}

<div class="page-content">
    <div class="col-xs-12">
        <div class="row">
            <!-- /.page-header -->
            <div class="page-header">
                <h1>Dashboard - @ViewBag.InstituteName
                </h1>
            </div>
            <!-- /.page-header -->
        </div>
    </div>

    @if(null != Model)
    { 
    <div class="col-xs-6">
        <div class="row">
            <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                <tbody>
                    <tr>
                        <th>Class</th>
                        <th>Boys</th>
                        <th>Girls</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.CourseName
                            </td>
                            <td>
                                @item.Boys.ToString()
                            </td>
                            <td>
                                @item.Girls.ToString()
                            </td>
                        </tr>
                        
                    }
                </tbody>
            </table>
            <div class="vspace-12-sm"></div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="widget-box">
            <div class="widget-header widget-header-flat widget-header-small">
                <h5 class="widget-title">
                    <i class="ace-icon fa fa-signal"></i>
                    Traffic Sources
                </h5>

            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <!-- #section:plugins/charts.flotchart -->
                    <div id="piechart-placeholder"></div>

                    <!-- /section:plugins/charts.flotchart -->
                    <div class="hr hr8 hr-double"></div>

                    <div class="clearfix">
                        <!-- #section:custom/extra.grid -->
                        <div class="grid3">
                            <span class="grey">
                                <i class="ace-icon fa fa-facebook-square fa-2x blue"></i>
                                &nbsp; likes
                            </span>
                            <h4 class="bigger pull-right">1,255</h4>
                        </div>

                        <div class="grid3">
                            <span class="grey">
                                <i class="ace-icon fa fa-twitter-square fa-2x purple"></i>
                                &nbsp; tweets
                            </span>
                            <h4 class="bigger pull-right">941</h4>
                        </div>

                        <div class="grid3">
                            <span class="grey">
                                <i class="ace-icon fa fa-pinterest-square fa-2x red"></i>
                                &nbsp; pins
                            </span>
                            <h4 class="bigger pull-right">1,050</h4>
                        </div>

                        <!-- /section:custom/extra.grid -->
                    </div>
                </div>
                <!-- /.widget-main -->
            </div>
            <!-- /.widget-body -->
        </div>
    </div>
    }
    else
    {
        <span style="color: red;"><b>Data is not available</b></span>
    }


</div>


