@model List<AsteriskBrowserAL.Models.PlayersData>
@{

    ViewBag.Title = "Assign IIT Foundation Fee";
    int SubId = AsteriskBrowserAL.Helpers.Utility.GetLoggedSubscriptiond();

}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Accademics
        </li>
        <li>
            <i class=""></i>
            Student
        </li>
        <li class="active">Assign IIT Foundation Fee</li>
    </ul><!-- /.breadcrumb -->
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("AssignIITFoundationFee", "AStudent", FormMethod.Post))
            {
                <span style="color:red;font-weight:bold" id="Validation"></span>
                <span style="color:green;font-weight:bold" id="SaveVal"></span>


                <div class="widget-box">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            Assign IIT Foundation Fee
                        </h5>

                    </div><!-- /.box-header -->
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right">@Html.Label("Class")</label>
                                        <div class="col-sm-6">
                                            <select id="ClassId" name="ClassId" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label no-padding-right">@Html.Label("Fee Component")</label>
                                        <div class="col-sm-6">
                                            <select id="PlanId" name="PlanId" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
                <div id="SearchDiv">
                </div>
            }
        </div>
    </div>
</section>



<script>

    function onloadData() {
        LoadClassDropdown();

    }
    window.onload = onloadData();
    function LoadClassDropdown() {
        $.ajax({
            url: '/AStudent/GetClassDropdown',
            data: { SelClassNumber: 0 },
            success: function (result) {
                Section = $("#ClassId")
                Section.children().remove();
                Section.append($("<option>").val("").text("--- Select ---"))
                $.each(result, function (e, record) {
                    Section.append($("<option>").val(record.ClassNumber).text(record.ClassNumberDisplay))
                })
                $("#ClassId").append(Section)

            },
            async: false
        })
    }
    $("#ClassId").change(function () {
        $("#SearchDiv").html("")
        LoadFeeComponent()
    })
    function LoadFeeComponent() {
        var ClassId = $("#ClassId").val();
        if (ClassId > 0) {
            $.ajax({
                url: '/FOperations/GetRegulerFeeComponent',
                success: function (Data) {
                    var FeeComponent = $('#PlanId')
                    FeeComponent.children().remove();
                    FeeComponent.append($("<option>").val("").text("--Select--"))
                    $.each(Data, function (i, record) {
                        FeeComponent.append($("<option>").val(record.FeeComponentId).text(record.Name));
                    });
                    $('#PlanId').append(FeeComponent);
                }
            })
        }
        else {
            $("#SearchDiv").html("")
            $('#PlanId').html("")

        }

    }

    $("#PlanId").change(function () {
        debugger
        var ClassId = $("#ClassId").val()
        var PlanId = $("#PlanId").val()
        if (ClassId > 0 && PlanId > 0) {
            $("#imagemodal").show();
            $.ajax({
                url: '/FOperations/GetStudentsWithIITFee',
                data: { ClassId: ClassId, PlanId: PlanId },
                success: function (Data) {
                    $("#imagemodal").hide();
                    $("#SearchDiv").html(Data);
                    LoadAssignedStudents();
                }
            })
        }
        else {
            $("#SearchDiv").html("")
        }
    })

</script>

<script>
    $('#Selectall').change(function () {
        if ($(this).prop('checked')) {
            $('tbody tr td #Check').each(function () {
                $(this).prop('checked', true);
            });
        } else {
            $('tbody tr td #Check').each(function () {
                $(this).prop('checked', false);
            });
        }
    });


    function SaveStudent() {
        debugger
        var Ids = " ";
        var result = $('#Check:checked');

        $.each(result, function (i, result) {
            Ids += result.value + ",";

        });
        if (Ids != " ") {
            document.getElementById("Message").innerHTML = ""
            document.getElementById("MessageData").innerHTML = ""
            SaveData(Ids)
        }
        else {
            document.getElementById("Message").innerHTML = ""
            document.getElementById("MessageData").innerHTML = "Please select any Student"
        }
    }

    function SaveRoutePointStudentsData(Data) {

        debugger
        var PlanId = $("#PlanId").val();
        var ClassId = $("#ClassId").val();
        var TransportRoutePoint = $("#RoutePointId").val();
        $("#imagemodal").show();
        $.ajax({
            url: "/AStudent/SaveTransportRoutePointStudents",
            data: { PlanId: PlanId, StudentsIds: Data, ClassId: ClassId, nVehicleroutePointId: TransportRoutePoint },
            success: function (Data) {
                $("#imagemodal").hide();
                $("#AssignStudentListData").html(Data)
                document.getElementById("SaveVal").innerHTML = "Data saved";
            }
        })

    }


    function SaveData(Data) {
        debugger
        var PlanId = $("#PlanId").val();
        var ClassId = $("#ClassId").val();
        $("#imagemodal").show();
        $.ajax({
            url: "/FOperations/SaveIITFoundationFeeStudents",
            data: { PlanId: PlanId, StudentsIds: Data, ClassId: ClassId },
            success: function (Data) {
                $("#imagemodal").hide();
                $("#SearchDiv").html(Data);
                document.getElementById("SaveVal").innerHTML = "Data saved"
                debugger
                LoadAssignedStudents();
            }
        })

    }


    function RemoveVal() {
        document.getElementById("SaveVal").innerHTML = ""

    }

    function AssingRoutePoint() {
        document.getElementById("SaveVal").innerHTML = ""
    }

    //Student And Program Search
    $('#SearchOne').keyup(function () {
        searchTable($(this).val(), 'PlayerTable');
    });

    $('#SearchTwo').keyup(function () {
        searchTable($(this).val(), 'TableTwo');
    });

    function searchTable(inputVal) {
        var i = 1;
        var table = document.getElementById(TableId);

        tablerow = "";
        table.find('tr').each(function (index, row) {
            var allCells = $(row).find('td');

            if (allCells.length != 0) {
                var found = false;
                allCells.each(function (index, td) {
                    var regExp = new RegExp(inputVal, 'i');
                    if (regExp.test($(td).text())) {
                        found = true;
                        return false;
                    }
                });
                if (found == true) {
                    $(row).show();
                    //$(row).find("td:first").html(parseInt(i));
                    //i = i + 1;

                    var rowcells = $(row).find('td');

                    tablerow += "<tr style='font-family:'''Segoe UI''';'>";

                    rowcells.each(function (index, td) {
                        tablerow += "<td>" + $(td).text() + "</td>"
                    });
                    tablerow += "</tr>"
                }
                else $(row).hide(row);
            }
        });

    }

    function searchTable(inputVal, TableId) {
        var i = 1;
        var table = $('#' + TableId);

        table.find('tr').each(function (index, row) {
            var allCells = $(row).find('td');

            if (allCells.length != 0) {
                var found = false;
                allCells.each(function (index, td) {
                    var regExp = new RegExp(inputVal, 'i');
                    if (regExp.test($(td).text())) {
                        found = true;
                        return false;
                    }
                });
                if (found == true) {
                    $(row).show();
                    //$(row).find("td:first").html(parseInt(i));
                    //i = i + 1;
                }
                else $(row).hide(row);
            }
        });
    }

    $('#RoutePointId').change(function () {
        LoadAssignedStudents();
    })

    function LoadAssignedStudents() {
        debugger
        var FeeComponent = $('#PlanId').val()
        var ClassId = $("#ClassId").val();
        if (FeeComponent > 0 && ClassId > 0) {
            GetAssignStudentsListData();
        }
        else {
            $('#AssignStudentListData').html("")
        }
    }

    function GetAssignStudentsListData() {
        var FeeComponentId = $('#PlanId').val()
        var ClassId = $("#ClassId").val();
        if (FeeComponentId > 0 && ClassId > 0) {
            $("#imagemodal").show();
            $.ajax({
                url: '/FOperations/GetAssignIITFEEStudentListData',
                data: { FeeComponentId: FeeComponentId, ClassId: ClassId },

                success: function (Data) {
                    $("#imagemodal").hide();
                    $("#AssignStudentListData").html(Data)
                    document.getElementById('SaveTransportRoutePoint').style.display = "inline";

                }
            })

        }
        else {
            $("#AssignStudentListData").html("")

        }
    }



</script>

