@model AsteriskBrowserAL.Models.ChequeBounceViewModel

@{
    ViewBag.Title = "ChequeBounce";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-money"></i>
            Finance
        </li>
        <li>
            <i class=""></i>
            Operations
        </li>
        <li class="active">Cheque Bounce Entry</li>
    </ul><!-- /.breadcrumb -->
}



<link href="~/assets/css/jquery-ui.custom.min.css" rel="stylesheet" />
<script src="~/assets/js/jquery-ui.min.js"></script>


<!--Main Content-->
<section class="content">
   
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-xs-12">
                <span style="color:red;font-weight:bold" id="Validation"></span>

                <div class="table-header">
               
                        Cheque Bounce Entry
                    
                </div>


                <div class="widget-box">
                 


                    <div class="widget-body">
                        <div class="widget-main">

                            <div class="row">
                                <div class="form-group">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">@Html.Label("Enter Cheque Number")</label>
                                    <div class="col-sm-3">
                                        <input id="ChequeNo" maxlength="6" style="text-align:center" class="form-control textlength txtboxNum" value="@Model.DisplayChequeNo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row" id="SearchData">

                </div>
            </div>
        </div>
    }

</section>



<script>

    function LoadData() {
        var No = $("#ChequeNo").val();
        $('#SearchData').html('');

        if (No.length >= 3)
            PopulateData(No);
    }

    window.load = LoadData();

    $("#ChequeNo").autocomplete({
        source: function (request, response) {

            $('#SearchData').html('');

            if (request.term.length < 3) {
                return;
            }

            PopulateData(request.term);
        },
    });

    function PopulateData(ChequeNo) {
        $.ajax
           ({
               error: function (jqXHR, textStatus, errorThrown) {
                   alert(errorThrown);
                   $('#imagemodal').hide();
               },

               url: "/FOperations/GetChequeResults",
               data: { ChequeNo: ChequeNo },
               beforeSend: function () {
                   $('#imagemodal').show();
               },
               success: function (data) {
                   $('#imagemodal').hide();

                   $('#SearchData').html(data);
               }

           }).done(function () {
               $('#imagemodal').hide();
           });
    }

</script>
