@model AsteriskBrowserAL.Models.PrintFeePayments
@using AsteriskBrowserAL.Helpers
@{
    ViewBag.Title = "SaveFeePaymentPrintPartial";
}

<html>
<body>
    @if (Model != null)
    {
        

        // template code

        <div style="border:1px solid black;font-family:'Segoe UI';position: relative; width: 770px; max-width: 770px; height: 542px; max-height: 542px; display: inline-block;">

          

            @if (!string.IsNullOrWhiteSpace(Model.QRCodeForParent))
            {
                <div style="position: absolute;top:1%;margin-left:640px">
                    <img width="120" height="120" src="@Model.QRCodeForParent" /><br />
                </div>
                @*<div style="position: absolute;top:22%;margin-left:655px">
                    <span style="font-size:11px;">@Model.TimeStamp</span>
                </div>*@
            }
            </div>
        <hr style="background-color: #fff;border-top: 2px dashed #8c8b8b;" />

      

        //
    }
</body>
</html>



