@model AsteriskBrowserAL.Models.DiscountViewModel
@{

    ViewBag.Title = "Pre Admission List";

}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-money"></i>
            Finance
        </li>
        <li>
            <i class=""></i>
            Operations
        </li>
        <li class="active"> Transport Concession</li>
    </ul><!-- /.breadcrumb -->
}





<section class="content">


    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("TransportDiscount", "FOperations", FormMethod.Post))
            {
                <span style="color:red;font-weight:bold" id="Validation"></span>
                <span style="color:green;font-weight:bold" id="SaveVal"></span>


                <div class="table-header">
                    <span style="font-family:calibri;"> Transport Concession</span>
                    </div>

                    <div class="widget-box">
               
                        <div class="widget-body">
                            <div class="widget-main">
                                @if (null != Model)
                                {
                                    <input type="hidden" name="SelClassId" id="SelClassId" value="@Model.CourseId" />
                                    <input type="hidden" name="SelDivisionId" id="SelDivisionId" value="@Model.DivisionId" />
                                    <input type="hidden" name="SelBranchId" id="SelBranchId" value="@Model.BranchId" />


                                }
                                else
                                {
                                    <input type="hidden" id="SelClassId" />
                                    <input type="hidden" id="SelDivisionId" />
                                    <input type="hidden" id="SelBranchId" />


                                }


                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <div class="col-sm-6">
                                                <label class="col-sm-4 ">Division</label>
                                                <div class="col-sm-6 control-label no-padding-right" for="form-field-1">
                                                    <select id="DivisionId" name="DivisionId" class="form-control"></select>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <label class="col-sm-4 ">Branch</label>
                                                <div class="col-sm-6 control-label no-padding-right" for="form-field-1">
                                                    <select id="BranchId" name="BranchId" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                   
                                        <div class="col-sm-6">
                                            <label class="col-sm-4 ">Class</label>
                                            <div class="col-sm-6 control-label no-padding-right" for="form-field-1">
                                                <select id="ClassId" name="ClassId" class="form-control"></select>
                                            </div>
                                        </div>
                                
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div id="SearchDiv">
                    </div>
                    }


                </div>
    </div>

    <div id="imagemodal" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
        <p style="position:absolute; top: 50%; left:50%;">
            <img height="50" width="50" src="~/LoaderImages/ajax-loader.gif" />
        </p>
    </div>

</section>



<script>

    function OnloadData() {
       
            LoadDivisionDropdown()

      
    }

    function LoadDivisionDropdown() {
        var SelDivisionId = $("#SelDivisionId").val()
        $.ajax({
            url: '/Common/GetDivisions',
            data: { IsAll: false },
            success: function (result) {
                Division = $("#DivisionId")
                Division.children().remove();
                $.each(result, function (i, elm) {
                    Division.append($("<option>").val(elm.DivisionId).text(elm.DivisionName))
                })
                $("#DivisionId").append(Division)

                if (SelDivisionId > 0) {
                    document.getElementById("DivisionId").value = SelDivisionId
                    LoadBranchDropdown()
                }

            }
        })
    }

    $("#DivisionId").change(function () {
        var Division = $("#DivisionId").val();
     
        $("#BranchId").html("")
        $("#BranchId").val("")

        $("#ClassId").html("")
        $("#ClassId").val("")

        $("#SearchDiv").html("")
        if (Division >= 0) {
            LoadBranchDropdown();

        }
    })

    $("#BranchId").change(function () {
        var BranchId = document.getElementById("BranchId").value;



        $("#ClassId").html("")
        $("#ClassId").val("")

        $("#SearchDiv").html("")

        if (BranchId >= 0) {
            LoadClassDropdown()
        }

    })


    function LoadBranchDropdown() {
        var DivisionId = $("#DivisionId").val()
        var isall = true;
        if (DivisionId > 0) {
            isall = false
        }

        $("#BranchId").html("")
        $("#Student").val("");
        $("#SectionId").html("");
        $("#SearchDiv").html("")


        if (DivisionId >= 0) {
            $.ajax({
                url: '/Common/GetBranchesByDivision',
                data: { DivisionId: DivisionId, IsAll: false },
                success: function (result) {
                    Branch = $("#BranchId")
                    Branch.children().remove();
                    $.each(result, function (i, elm) {
                        Branch.append($("<option>").val(elm.SubscriptionId).text(elm.Institute))
                    })
                    $("#BranchId").append(Branch)
                    if ($("#SelBranchId").val() > 0) {
                        document.getElementById("BranchId").value = $("#SelBranchId").val()
                        LoadClassDropdown()
                    }
                },
                async: false
            })
        }

    }

    function LoadClassDropdown() {
        var SelClassId = $("#SelClassId").val();

        $.ajax({
            url: '/AStudent/GetClassDropdown',
            success: function (result) {
                Section = $("#ClassId")
                Section.children().remove();
                Section.append($("<option>").val("").text("--- Select ---"))
                $.each(result, function (e, record) {
                    Section.append($("<option>").val(record.ClassNumber).text(record.ClassNumberDisplay))
                })
                $("#ClassId").append(Section)
                if (SelClassId > 0) {
                    document.getElementById("ClassId").value = SelClassId;
                    GetTransportStudents()
                }

            },
            async: false
        })
    }


    $("#ClassId").change(function () {
        document.getElementById("SaveVal").innerHTML = "";

        $("#SearchDiv").html("")

        GetTransportStudents()
    })



    function GetTransportStudents() {
        var ClassId = $("#ClassId").val()
        var BranchId = $("#BranchId").val()
        $("#imagemodal").show();
        if (ClassId >= 0) {
            $.ajax({
                url: '/FOperations/GetTransportAssignedStudents',
                data: { ClassId: ClassId, BranchId: BranchId },
                success: function (Data) {
                    $("#imagemodal").hide();
                    $("#SearchDiv").html(Data)
                }
            })
        }

    }


    window.onload = OnloadData();


</script>
