@model AsteriskBrowserAL.Models.PrintFeePayments
@{

    ViewBag.Title = "Transaction History";
}


@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="fa fa-money"></i>
            Finance
        </li>
        <li>
            <i class="fa fa-gears"></i>
            Operations
        </li>
        <li class="active">Transaction History</li>
    </ul><!-- /.breadcrumb -->
}


<!--Main Content-->
<section class="content">
    <br />
    <div class="row">
        <div class="col-xs-12">

        </div>
    </div>
    <br />

    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-xs-12">


                <div class="box">
                    <div class="box-body">
                        <div class="col-xs-6">
                            <div class="tag-box tag-box-v3">
                                <h3>Student Information:</h3>
                                <ul class="list-unstyled">
                                    <li><strong>First Name:</strong> MR.JOHN</li>
                                    <li><strong>Last Name:</strong> NILSON</li>
                                    <li><strong>Country:</strong> CANADA</li>
                                    <li><strong>DOB:</strong> YYYY/MM/DD</li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-xs-6">
                            <div class="tag-box tag-box-v3">
                                <h3>Payment Details:</h3>
                                <ul class="list-unstyled">
                                    <li><strong>Bank Name:</strong> 123456789012</li>
                                    <li><strong>Account Number:</strong> 123456789012</li>
                                    <li><strong>SWIFT Code:</strong> 123DEMO45DEMO</li>
                                    <li><strong>V.A.T Reg #:</strong> 678DEMO45545</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box">
                    <div class="box-body">
                        <div class="col-xs-12">
                            <table class="table table-striped invoice-table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Item</th>
                                        <th class="hidden-sm">Description</th>
                                        <th>Quantity</th>
                                        <th>Unit Cost</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Keyboard</td>
                                        <td class="hidden-sm">At vero eos et accusamus etofficia mollitia</td>
                                        <td>252</td>
                                        <td>$52</td>
                                        <td>$18476</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Displays</td>
                                        <td class="hidden-sm">Verode eoset accusamus etofficia deserunt</td>
                                        <td>78</td>
                                        <td>$128</td>
                                        <td>$12047</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Phones</td>
                                        <td class="hidden-sm">Etquas molestias deexcepturi dasint</td>
                                        <td>16</td>
                                        <td>$450</td>
                                        <td>$7968</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>Software</td>
                                        <td class="hidden-sm">Atofficia droeos etofficia taccusamus</td>
                                        <td>191</td>
                                        <td>$24</td>
                                        <td>$4099</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>Speakers</td>
                                        <td class="hidden-sm">Dacusamus deserunt veroeoset vero eos</td>
                                        <td>65</td>
                                        <td>$119</td>
                                        <td>$9456</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    }

</section>


