<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET                                                                                            application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <!--<system.web>
    <sessionState  mode="StateServer" stateConnectionString="tcpip=123.0.0.42424" stateNetworkTimeout="40"/>
    <compilation debug="true"/>
  </system.web>-->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ATGAsteriskForWeb" connectionString="Data Source=103.195.244.157;Initial Catalog=DemoAsterisk;Persist Security Info=True;User ID=sa;Password=W!nSqL@2018)#" providerName="System.Data.SqlClient" />
    <!--<add name="DemoCentral2017_2018" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=DemoCentral2017_2018;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoASRaonagar2017_2018" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=DemoASRaonagar2017_2018;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoBegumpet2017_2018" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=DemoBegumpet2017_2018;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoCentral2018_2019" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=DemoCentral2018_2019;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoASRaonagar2018_2019" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=DemoASRaonagar2018_2019;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoBegumpet2018_2019" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=DemoBegumpet2018_2019;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ATGAsteriskEntities" connectionString="metadata=res://*/ATGAsteriskEntities.csdl|res://*/ATGAsteriskEntities.ssdl|res://*/ATGAsteriskEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.195.244.157;initial catalog=DemoAsterisk;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AsteriskGMSEntities" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.195.244.157;initial catalog=DemoCentral2015_2016;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ATGUserInRolesEntities" connectionString="metadata=res://*/ATGUserInRolesEntities.csdl|res://*/ATGUserInRolesEntities.ssdl|res://*/ATGUserInRolesEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.195.244.157;initial catalog=DemoAsterisk;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoCentral2015_2016" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.195.244.157;initial catalog=DemoCentral2015_2016;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoCentral2016_2017" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.195.244.157;initial catalog=DemoCentral2016_2017;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoCentral2019_2020" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.195.244.157;initial catalog=DemoCentral2019_2020;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoASRaonagar2019_2020" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.195.244.157;initial catalog=DemoASRaonagar2019_2020;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoBegumpet2019_2020" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.195.244.157;initial catalog=DemoBegumpet2019_2020;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GMSCentral2021_2022" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.195.244.157;initial catalog=GMSCentral2021_2022;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GMSClgCentral2021_2022" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.195.244.157;initial catalog=GMSClgCentral2021_2022;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RaosCentral2021_2022" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.195.244.157;initial catalog=RaosCentral2021_2022;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Ekashila_2021_2022" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.195.244.157;initial catalog=Ekashila_2021_2022;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GMSCentral2022_2023" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.195.244.157;initial catalog=GMSCentral2022_2023;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DemoClgASRaonagar2019_2020" connectionString="metadata=res://*/AsteriskGMSEntities.csdl|res://*/AsteriskGMSEntities.ssdl|res://*/AsteriskGMSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=103.195.244.157;initial catalog=DemoClgASRaonagar2019_2020;persist security info=True;user id=sa;password=W!nSqL@2018)#;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DatabasePath" value="DemoCentral2015_2016" />
    <add key="FTPServer" value="docs.campuswhiz.com" />
    <add key="FTPFolder" value="Campuswhiz" />
    <add key="FtpUserName" value="campuswhiz" />
    <add key="FtpUserPassword" value="37z#\&lt;Qj" />
    <add key="WhatsAppKey" value="EAAJqsZCqpHSsBAFpOCacap8ziGWBjapLiGZCZAwE9hVSJHBlTfhBHZCFZBPr2ZC6kPiuDUbDJI3nRlltDDbCUZBsjylccxhVuzqIbEfZAA9rJrdPKbsKcFxGGBt7xmMIwSRknz1KoF9SO9erM0zZB7R2uNIZAxtaiupwxFCRP79K58V0uFkwYmUQB3wORk5NKa0MYX9qgMElvXVAZDZD" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <globalization culture="en-US" uiCulture="en-US" />
    <authorization>
      <allow users="?" />
    </authorization>
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="10" sqlConnectionString="data source=127.0.0.1;Integrated Security=SSPI" sqlCommandTimeout="30" customProvider="" cookieless="UseCookies" cookieName="ASP.NET_SessionId" timeout="20" allowCustomSqlDatabase="false" regenerateExpiredSessionId="true" partitionResolverType="" useHostingIdentity="true">
      <providers>
        <clear />
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </sessionState>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="288000000" />
    </authentication>
    <compilation targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" executionTimeout="100000" maxRequestLength="214748364" />
    <!--<membership defaultProvider="SimpleMembers  hipProvider">
      <providers>
        <clear />
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>-->
    <roleManager enabled="true" />
    <customErrors mode="RemoteOnly" defaultRedirect="Error.cshtm" />
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: 8E590F77-9716-4E13-B3F7-0153CEB49550-->