@model AsteriskBrowserAL.ICExaminationCycle

@{
    ViewBag.Title = "Delete ICExaminationCycle";
}

    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("ICExamCycleD1", "SeAcademics", FormMethod.Post, new { @class = "form-horizontal",@id="Formdelete"}))
            {
                <div class="box">                               
                    <div class="box-header">
                    @Html.HiddenFor(model=>model.ICExaminationCycleId)
                        <h3 class="box-title" style="color: red;">Are you sure you want to delete?</h3>
                        <button class="btn btn-primary" id="delbtn" type="button" style="float:right;width:80px;">
                            Delete
                        </button>
                    </div><!-- /.box-header -->
                    <!-- form start -->                    
                </div>
            }
        </div>
    </div>

