@model List<AsteriskBrowserAL.Models.SMSTrackData>
@using AsteriskBrowserAL.Helpers
@{
    ViewBag.Title = "SMS Track";

    string strAvailableCredits = SMSGateway.GetAvailableCredits();

}


@section BreadCrumb{

    <ul class="breadcrumb">
       
        <li>
            <i class="menu-icon fa fa-list"></i>
            Controls
        </li>
        <li>
            <i class=""></i>
            SMS Mail
        </li>
        <li class="active">SMS Track</li>
    </ul><!-- /.breadcrumb -->
}

@Html.Action("DatePickerScripts", "Base")

<section class="content">
    <br />

    <div class="row">
        <div class=col-xs-12>
            @using (Html.BeginForm("SMSTrack", "CSMSMail", FormMethod.Post))
            {
                <div class="widget-box">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                           SMS Track 
 <span style="float:right">Available Credits : <b>@strAvailableCredits</b> </span>
                        </h5>


                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                               
                               
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Date Range</label>
                                            <div class="col-sm-6">
                                                <div class="input-group">
                                                    <input type="text" class="form-control pull-right" id="daterange" name="DateRange" autocomplete="off" />
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                            }
            <div id="SMSTrackData">
            </div>
                        </div>
                    </div>
</section>
<div id="imagemodal" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
    <p style="position:absolute; top: 50%; left:50%;">
        <img height="50" width="50" src="~/LoaderImages/ajax-loader.gif" />
    </p>
</div>
<script type="text/javascript">

    $('#daterange').change(function () {
        $('#SMSTrackData').html("");

        var daterange = $('#daterange').val();

        if (daterange != "") {
            GetSMSData();
        }
    });

    function GetSMSData() {
        var daterange = $('#daterange').val();
        if (daterange != "") {
            $('#imagemodal').show();
            $.ajax({
                url: '/CSMSMail/GetSMSTrackData',
                data: { daterange: daterange},
                success: function (data) {
                    $('#SMSTrackData').html(data);
                }

            }).done(function () {
                $('#imagemodal').hide();
            });
        }
    }
</script>




















































































































