@{
    ViewBag.Title = "Income Tax";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Setting
        </li>
        <li>
            <i class=""></i>
            HR
        </li>
        <li class="active">Income Tax</li>
    </ul><!-- /.breadcrumb -->
}


