@model AsteriskBrowserAL.Models.PaySlipViewModel

@{
    ViewBag.Title = "PayrollReport";
}

@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-group"></i>
            HR
        </li>
        <li>
            <i class=""></i>
            Payroll
        </li>
        <li class="active">Payroll Report</li>
    </ul><!-- /.breadcrumb -->
}


<section class="content">
    
    @using (Html.BeginForm("PayrollReport", "HRPayroll", FormMethod.Post))
    {
        <div class="row">
            <div class="col-xs-12">
                @using (Html.BeginForm())
                {


                <div class="table-header">
                    <span style="font-family:calibri;">Payroll Report</span>
                    <div class="inline action-buttons" style="float:right">
                        <button class="btn btn-info btn-sm pull-right" id="btnClick">Download</button>
                    </div>

                </div>
                    <div class="widget-box">
                    
                        <div class="widget-body">
                            <div class="widget-main">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <label class="col-sm-5 control-label no-padding-right">@Html.Label("Payroll Month")</label>
                                            <div class="col-sm-6">
                                                @Html.DropDownListFor(model => model.MonthYear, new SelectList(Model.ListMonths, "MonthValue", "MonthName"), "--- Select ---", new { @class = "form-control" })
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <span id="Validation" style="color:red;font-weight:bold;display:none">
                                                Required
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <br />
        <br />
    }
</section>

<script>
    $('#btnClick').click(function () {
        debugger
        var MonthYear = $('#MonthYear').val()
        if (MonthYear == "") {
            $('#Validation').show()
            return false;
        }
    })

    $('#MonthYear').change(function () {
        $('#Validation').hide()
        $('#NoRecords').hide()
    })

    
</script>

