
<div class="box">
    <br />
    <br />
    <div style="text-align:center">
        <img src="~/LoaderImages/NoAccess.jpg" />
    </div>
    <br/>
    <br />
    <br />
    <br />
    <br />
   

</div>

