@model AsteriskBrowserAL.Models.StudentStatusViewModel

@{

    ViewBag.Title = "Active InActive Approval";

}



@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-graduation-cap"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Student
        </li>
        <li class="active">Active/InActive Approval</li>
    </ul><!-- /.breadcrumb -->
}

<section class="content">
    <div class="row">
        <div class=col-xs-3>
        </div>
    </div>



    <div class="row">
        <div class="col-xs-12">

        @using (Html.BeginForm())
        {
            <span id="RemarksValidation" style="color:red;font-weight:bold"></span>
            <span id="Status" style="color:green;font-weight:bold"></span>
            <span id="Validation" style="color:red;font-weight:bold"></span>
            <div class="table-header">
                
                    Approve Students
             
                <div id="buttonId" style="display:none">
                    <div class="" style="float:right;margin-right:10px;">
                      
                            <a><span class="btncustom P2" id="Approve" name="Approve" >Approve</span></a>

                            <a><span class="btncustom P2" id="Reject" name="Reject">Reject</span></a>
                       
                    </div>
                </div>
            </div>
            <div class="widget-box">
    
                    <input type="hidden" id="IsCentral" value="@Model.isCentral.ToString()" />
                <div class="widget-body">
                    <div class="widget-main">

                        @if (Model.isCentral == true)
                        {
                            <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6">
                                            <label class="col-sm-4">Division</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" id="DivisionId"></select>
                                        </div>
                                    </div>

                                        <div class="col-xs-6">
                                            <label class="col-sm-4">Branch</label>
                                            <div class="col-sm-6">
                                                <select id="BranchId" name="SubscriptionId" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    
                        }


                        <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-6">
                                        <label class="col-sm-4">Class</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="ClassId" name="ClassNumber"></select>
                                        </div>
                                    </div>

                                    <div class="col-xs-6">

                                        <label class="col-sm-4 control-label no-padding-right">@Html.Label("Section")</label>
                                        <div class="col-sm-6">
                                            <select id="SectionId" name="SectionId" class="form-control"></select>

                                </div>
                              
                                        </div>
                                    </div>
                                </div>
                     
                    


                            <div class="row">
                                <div id="SearchDivHead" style="display:none">

                                    <div class="col-xs-4 pull-right">
              
                                        <input type="radio" id="StatusAll" name="Status" value="0" checked="checked"><b> &nbsp;All  &nbsp;</b>

                                        <input type="radio" id="StatusA" name="Status" value="2"><b> &nbsp;Active  &nbsp;</b>

                                        <input type="radio" id="StatusI" name="Status" value="1"><b> &nbsp; In-Active&nbsp;</b>
                                    </div>
               

            </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div id="SearchDiv">

            </div>

        }
    </div>
    </div>


    <input type="hidden" id="SyblingCoutStudents" />
</section>


<script>


    function onloadLoadData() {
        var IsCentral = $("#IsCentral").val()
        if (IsCentral == "True") {
            LoadDivisionDropdown();

        }
        else {
            LoadClassDropdown()

        }

        }

    window.onload = onloadLoadData();

    function LoadDivisionDropdown() {
        $.ajax({
            url: '/Common/GetDivisions',
            data: { IsAll: true },
            success: function (result) {
                Division = $("#DivisionId")
                Division.children().remove();
                $.each(result, function (i, elm) {
                    Division.append($("<option>").val(elm.DivisionId).text(elm.DivisionName))
                })
                $("#DivisionId").append(Division)
                //var SelDivisionId = $("#SelDivisionId").val();
                //if (SelDivisionId >= 0) {
                //    document.getElementById("DivisionId").value = SelDivisionId;
                //    LoadBranchDropdown();
                //}

            }
        })
    }

    $("#DivisionId").change(function () {
        var Division = $("#DivisionId").val();
        if (Division >= 0) {
            LoadBranchDropdown();

        }
        else {
            document.getElementById("BranchId").value = "";
            document.getElementById("SearchDivHead").style.display = "none"
            document.getElementById("buttonId").style.display = "none"

            $("#BranchId").html("")
            $("#SearchDiv").html("")
        }
    })

    $("#BranchId").change(function () {
        var BranchId = document.getElementById("BranchId").value;
        if (BranchId >= 0) {
            LoadClassDropdown()
        }
        else {
            document.getElementById("ClassId").value = "";
            document.getElementById("SearchDivHead").style.display = "none"
            document.getElementById("buttonId").style.display = "none"

            $("#ClassId").html("")
            $("#SearchDiv").html("")
        }



    })


    $("#StatusAll").click(function () {
        GetStudentApprovalList();
    })

    $("#StatusI").click(function () {
        GetStudentApprovalList();
    })

    $("#StatusA").click(function () {
        GetStudentApprovalList();
    })



    function LoadBranchDropdown() {
        var DivisionId = $("#DivisionId").val()
        if (DivisionId >= 0) {
            $.ajax({
                url: '/Common/GetBranchesByDivision',
                data: { DivisionId: DivisionId, IsAll: true },
                success: function (result) {
                    Branch = $("#BranchId")
                    Branch.children().remove();
                    $.each(result, function (i, elm) {
                        Branch.append($("<option>").val(elm.SubscriptionId).text(elm.Institute))
                    })
                    $("#BranchId").append(Branch)
                    //var SelBranchid = $("#SelBranchId").val();
                    //if (SelBranchid >= 0) {
                    //    document.getElementById("BranchId").value = SelBranchid
                    //    LoadClassDropdown()
                    //}
                },
                async: false
            })
        }
        else {
            document.getElementById("BranchId").value = ""
            $("#BranchId").html("")          
            $("#SearchDiv").html("")
        }
    }



    function LoadClassDropdown() {
        var SelClassId = $("#SelClassId").val();
        $.ajax({
            url: '/AStudent/GetClassDropdown',
            success: function (result) {
                Section = $("#ClassId")
                Section.children().remove();
                Section.append($("<option>").val("-1").text("--- Select ---"))
                Section.append($("<option>").val("0").text("All"))

                $.each(result, function (e, record) {
                    Section.append($("<option>").val(record.ClassNumber).text(record.ClassNumberDisplay))
        })
                $("#ClassId").append(Section)

                LoadSectionDropdown();
                //if (SelClassId > 0) {
                //    document.getElementById("ClassId").value = SelClassId;
                //    GetStudentData();
                //}

            },
            async: false
    })
    }

    $('#ClassId').change(function () {
        if ($("#ClassId").val() >= 0) {
            document.getElementById("buttonId").style.display = "inline"
            LoadSectionDropdown();
           // GetStudentApprovalList();


        }
        else {
            document.getElementById("SearchDivHead").style.display = "none"

            $('#SearchDiv').html("");

        }
    })


    function LoadSectionDropdown() {
        var SelClassNumber = $("#ClassId").val()
        var BranchId = document.getElementById("BranchId").value;
        if (SelClassNumber >= 0) {
            $.ajax({
                url: "/AStudent/GetSectionslistByStudentActiveInActive",
                data: { Classnumber: SelClassNumber, nBranchId: BranchId },
                success: function (result) {
                    var SectionList = $("#SectionId")
                    SectionList.children().remove();
                    SectionList.append($("<option>").val("-1").text("--Select--"))
                    SectionList.append($("<option>").val("0").text("All"))
                    $.each(result, function (e, record) {
                        SectionList.append($("<option>").val(record.SectionId).text(record.SectionCode))
                    })
                    $("#SectionId").append(SectionList)
                }
            })
        }
        else {
            document.getElementById("SectionId").value = ""         

            $("#SectionId").html("")
        }
        }

    $("#SectionId").change(function () {
        GetStudentApprovalList();
    })


    function GetStudentApprovalList() {
        var DivisionId = $('#DivisionId').val();
        var branchId = $('#BranchId').val();
        var ClassNumberId = $('#ClassId').val();
        var Status = $("input[name=Status]:checked").val()
        var IsCentral = $("#IsCentral").val()

        if (ClassNumberId >= 0) {
            if (IsCentral == "False") {
                var DivisionId = 0;
                var branchId = 0;


            }
            $("#imagemodal").show()
            $.ajax({
                url: '/AStudent/GetStudentsForApproval',
                data: { nDivisionId: DivisionId, nBranchId: branchId, nClassNumberId: ClassNumberId, nstatus: Status, isCentral: IsCentral },
                success: function (data) {
                    $('#imagemodal').hide();

                    document.getElementById("SearchDivHead").style.display = "inline"

                    $('#SearchDiv').html(data);
                }
            }).done(function () {
                $('#imagemodal').hide();
            })
        }

    }




    $("#Approve").click(function () {
        debugger
        var Ids = "";
        var result = $('#Check:checked');
        $.each(result, function (i, result) {
            Ids += result.value + ",";
        });

        if (Ids.length > 0)
        {
            UpdateStudentStatus(Ids, true);
        }

        else
        {
            alert('Please select the check box')
        }
    })
      

    $("#Reject").click(function () {
        debugger
        var Ids = "";
        var result = $('#Check:checked');
        $.each(result, function (i, result) {
            Ids += result.value + ",";
        });

        if (Ids.length > 0)
        {
            UpdateStudentStatus(Ids, false);
        }

        else
        {
            alert('Please select the check box')
        }
    })



    function UpdateStudentStatus(Ids, IsApproval) {
        debugger
        var DivisionId = $('#DivisionId').val();
        var branchId = $('#BranchId').val();
        var ClassNumberId = $('#ClassId').val();
        var IsCentral = $("#IsCentral").val();
        if (IsCentral == "False") {
            DivisionId = -1;
            branchId = -1;
        }
        $('#imagemodal').show();
        $.ajax({
            url: '/AStudent/UpdateStudentStatus',
            data: { StudentStatusId: Ids, IsApproval: IsApproval, nDivisionId: DivisionId, nBranchId: branchId, nClassNumberId: ClassNumberId, nstatus: status, IsCentral: IsCentral },
            success: function (result) {
                document.getElementById("SearchDivHead").style.display = "inline"
                $('#imagemodal').hide();
                $('#SearchDiv').html(result);
            }
        })
    }
</script>

