@model AsteriskBrowserAL.Models.StudentDetailsData

@{
    ViewBag.Title = "Olympaid";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-graduation-cap"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Student
        </li>
        <li>
            <i class=""></i>
           Oylmpaid
        </li>
    </ul>
}


<section class="content">

    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("Olympaid", "AStudent", FormMethod.Post))
            {
                @*<span style="color:forestgreen" id="Validation"></span>
                    <span style="color:red" id="Alert"></span>
                    <span style="font-weight:bold" id="SaveStatus">
                        @if (TempData["SaveStatus"] != null)
                        {
                            if (TempData["SaveStatus"] == "True")
                            {
                                <b style="color:green">Message(s) has been sent successfully</b>
                            }
                            else
                            {
                                <b style="color:red">"Message(s) sending failed"</b>
                            }

                        }
                    </span>*@

                if (null != Model)
                {
                    <input type="hidden" id="Status" value="@Model.Status" />
                }
                else
                {
                    <input type="hidden" id="Status" value="false" />
                }



                <div class="table-header">
                    
                        Accomplishment Olympaid

                  

                </div>
                <div class="widget-box">

                    <div class="widget-body">
                        <div class="widget-main">



                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Class</label>
                                        <div class="col-sm-6">
                                            <select id="ClassNumber" name="ClassNumber" style="width:200px;" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-5 control-label no-padding-right" for="form-field-1">Event Type</label>
                                        <div class="col-sm-6">
                                            <select id="EventType" name="EventType" style="width:200px;" class="form-control">
                                                <option value="">
                                                    Select
                                                </option>
                                                <option value="1">
                                                    Science Olympiad
                                                </option>
                                                <option value="2">
                                                    Maths Olympiad
                                                </option>
                                                <option value="3">
                                                    General Knowledge Olympiad
                                                </option>
                                                <option value="4">
                                                    Others
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div id="Students"></div>

            }
        </div>
    </div>
</section>
<script>
    /*const { debug } = require("console");*/

    $(document).ready(function () {

    //    var Status = $('#Status').val();

        //if (Status == "value")


        LoadClasses();
    });

    function LoadClasses() {

        $.ajax({
            url: '/Common/GetAllClasses',
            success: function (data) {
                var ClassNumberItems = $('#ClassNumber');
                ClassNumberItems.children().remove();
                ClassNumberItems.append($("<option>").val("null").text("--- Select ---"));
                $.each(data, function (i, record) {
                    ClassNumberItems.append($("<option>").val(record.ClassNumber).text(record.ClassNumberDisplay));
                });
                $('#ClassNumber').append(ClassNumberItems);
            },
            aync: false
        });
    }
    $('#ClassNumber').change(function () {
        $("#Students").html('');
        var EventType = $("#EventType").val();
        var ClassNumber = $("#ClassNumber").val();
        if (EventType > 0 && ClassNumber > 0)
            GetStudents()
    });
    $('#EventType').change(function () {
        $("#Students").html('');
        var EventType = $("#EventType").val();
        var ClassNumber = $("#ClassNumber").val();
        if (EventType > 0 && ClassNumber > 0)
            GetStudents()
    });
    function GetStudents() {
        debugger
        var ClassNumber = $("#ClassNumber").val();
        var EventType = $("#EventType").val();
        if (ClassNumber < 1 || EventType < 1)
            return;

        $('#imagemodal').show();

        $.ajax({
            url: '/AStudent/GetStudentsForOlympaid',
            data: { ClassNumber: ClassNumber, EventType: EventType },
            success: function (Data) {
                $('#imagemodal').hide();
                $('#Students').html(Data);
            },
            error: function () {
                $('#imagemodal').hide();
            }
        })
            ;
    }
</script>



