#navbar{background:url(../../images/topheader.jpg);
border-bottom:2px solid #59A84B;
}

header{width:100%;}
.skin-1 .nav-list > li {
    border-color: #337ab7;
    border-style: dotted;
}


a {
    color: #337ab7;
    text-decoration: none;
}

.texthead{font-size:18px;font-weight:bold;font-family:calibri;color:#069;text-align:center;margin:0px;background:#F7F7F7;padding:5px;}	

.dropbtn {
    line-height: 25px;
    color: green;
    background: none;
    font-size: 15px;
    border: none;
    text-align: left;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

@keyframes mymove {
    0% {
        transform: translateY(80px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.dropdown-content {
    animation: mymove 0.4s linear;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 170px;
    right: 0px;
    left: 0px;
    border-radius: 10px;
    border-bottom: 3px solid green;
    box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
}

    .dropdown-content a {
        color: green;
        padding: 8px;
        text-decoration: none;
        display: block;
        border-bottom: #999 dotted 1px;
        border-right: #999 dotted 1px;
    }

        .dropdown-content a:hover {
            background-color: green;
            color: white;
        }

.dropdown:hover .dropdown-content {
    display: block;
}


.drpic {
    transform: rotate(-90deg);
    transition-timing-function: linear;
    transition-duration: 0.2s;
}

.dropdown:hover .drpic {
    transform: rotate(0deg);
    transition-timing-function: linear;
    transition-duration: 0.2s;
}


.font {
    font-family: calibri;
    font-size: 15px;
    font-weight: 600;
}


ul li{font-size:15px;}
 .menu-text{font-family:calibri;font-size:20px;}
 
   .nav-list > li > a {
            display: block;
            height: 55px;
      
      
            text-shadow: none !important;
            font-size: 13px;
        }
.no-skin .nav-list > li.open > a {
    background-color:  #1963AA;
    color: #FAFAFA;

}


.text12{color:#069;
font-weight:vold;
font-size:12px;}

.progress-bar {height:5px;
border-radius:5px;margin:0px;
 animation-timing-function: linear;

}

.skill-bar{margin:0px; animation-timing-function: linear;}

.val{color:black;font-weight:bold;position:relative;top:5px;float:right;right:5px;font-size:11px;}

.blockprogress{
	
	 background:#fff;box-shadow:1px 2px 5px #ccc;padding:5px;border:1px dotted #59a84b;
	 
}
.chartdivcontainer{
	
	 background:#fff;box-shadow:1px 2px 5px #ccc;padding:5px;border:1px dotted #59a84b;margin-top:15px;
	
}
.notifycontainer{
	 background:#fff;box-shadow:1px 2px 5px #ccc;padding:5px;border:1px dotted #59a84b;height:265px;margin-top:15px;
	
}

.piegraphcontainer{
		 background:#fff;box-shadow:1px 2px 5px #ccc;padding:5px;border:1px dotted #59a84b;margin:0px;
	
}
.birthcontainer{background:#fff;box-shadow:1px 2px 5px #ccc;padding:5px;border:1px dotted #59a84b;height:265px;
}
#chartdiv {
  width: 100%;
  height: 220px;
  font-size: 11px;
  background:white;

	
	
}


@keyframes mymove2 {
    from {top: -200px;}
    to {top: 0px;}
}
.marqueenot{margin-top:5px;padding:11px;}
.marqueedate{background:#1bae68;color:white;font-family:calibri;padding:10px;text-align:center;font-weight:bold;overflow:hidden;}
.marqueecontent{font-size:1Zpx; background:#F5F5F5;color:#268f5f;font-family:calibri;padding:10px;text-align:center;font-weight:bold;overflow:hidden;}




#graph {
  width: 350px;
  height: 200px;
  margin-top:20px;
    margin-left:-20px;
}
#graph2 {
  width: 350px;
  height: 200px;
  margin-top:20px;
  margin-left:-20px;
}


.sometext{font-size:15px;font-family:calibri;font-weight:bold;}
.select{position:absolute;top:2px;right:10px;}

select#listcam{font-size:12px;font-weight:bold;cursor:pointer;background:#F8F8F8;color:#069;height:30px;padding:0px;border:dotted 1px rgba(38,133,181,0.4)}
select:focus{border:none;}





#slideshow > div {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 10px;
  bottom: 10px;
}
#slideshow2 > div {
  position: absolute;
  top: 110px;
  left: 0px;
  right: 10px;
  bottom: 10px;
}
#slideshow3 > div {
  position: absolute;
  top: 170px;
  left: 0px;
  right: 10px;
  bottom: 10px;
}



#slideshow4 > div {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 10px;
  bottom: 10px;
}
#slideshow5 > div {
  position: absolute;
  top: 110px;
  left: 0px;
  right: 10px;
  bottom: 10px;
}
#slideshow6 > div {
  position: absolute;
  top: 170px;
  left: 0px;
  right: 10px;
  bottom: 10px;
}
@media all and (max-width: 1250px) and (min-width: 768px) {
	
.marqueenot{margin-top:10px;padding:5px;}
.marqueedate{background:#1bae68;color:white;font-family:calibri;padding:5px;text-align:center;font-weight:bold;}
.marqueecontent{background:#F5F5F5;color:#268f5f;font-family:calibri;padding:5px;text-align:center;font-weight:bold;}

#graph {
  width: 300px;
  height: 180px;
  margin-top:20px;
    margin-left:-50px;
}
#graph2 {
  width: 300px;
  height: 180px;
  margin-top:20px;
  margin-left:-50px;
}
}


@media all and (max-width: 767px) and (min-width: 320px) {
	.notifycontainer,
	.birthcontainer
	{
	 background:#fff;box-shadow:1px 2px 5px #ccc;padding:5px;border:1px dotted #59a84b;height:350px;margin-top:15px;
	
}
	#graph {
  width: 350px;
  height: 200px;
  margin-top:20px;
    margin-left:-25px;
}
#graph2 {
  width: 350px;
  height: 200px;
  margin-top:20px;
  margin-left:-25px;
}

#slideshow > div {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 10px;
  bottom: 10px;
}
#slideshow2 > div {
  position: absolute;
  top: 130px;
  left: 0px;
  right: 10px;
  bottom: 10px;
}
#slideshow3 > div {
  position: absolute;
  top: 210px;
  left: 0px;
  right: 10px;
  bottom: 10px;
}



#slideshow4 > div {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 10px;
  bottom: 10px;
}
#slideshow5 > div {
  position: absolute;
  top: 130px;
  left: 0px;
  right: 10px;
  bottom: 10px;
}
#slideshow6 > div {
  position: absolute;
  top: 210px;
  left: 0px;
  right: 10px;
  bottom: 10px;
}
}



