@model AsteriskBrowserAL.Models.StaffData

@{
    ViewBag.Title = "AttendanceRegister";
}

@section BreadCrumb{

<ul class="breadcrumb">
    <li>
        <i class="menu-icon fa fa-group"></i>
        HR
    </li>
    <li>
        <i class=""></i>
        Enrollment
    </li>
    <li class="active">Assign Roaming Staff</li>
</ul><!-- /.breadcrumb -->
}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("AssignRoamingStaff", "HREnrollment", FormMethod.Post))
            {


                <div class="table-header">
                    <span style="font-family:calibri;">Assign Roaming Staff</span>
                  

                </div>
            <div class="widget-box">
           
                <div class="widget-body">
                    <div class="widget-main">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="col-sm-6">
                                        <label class="col-sm-3 control-label no-padding-right">@Html.Label("Branch")</label>
                                        <div class="col-sm-6">
                                            @if (null != Model.lstBranch)
                                            {
                                            @Html.DropDownListFor(model => model.lstBranch, new SelectList(Model.lstBranch, "SubscriptionId", "Institute"), "--- Select Branch ---", new { @class = "form-control", @id = "SubscriptionId", @name = "SubscriptionId" })
                                            }
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                    </div>

                </div>
                <div id="SearchViewDiv">
                </div>
                }
            </div>
        </div>
                <div id="imagemodal" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
    top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
    opacity: .8; filter: alpha(opacity=70);display:none">
                    <p style="position:absolute; top: 50%; left:50%;">
                        <img height="50" width="50" src="~/LoaderImages/ajax-loader.gif" />
                    </p>
                </div>
            </section>
                <script type="text/javascript">

                    $(document).ready(function () {
                        debugger

                        var SubscriptionId = $('#SubscriptionId').val();

                        if (SubscriptionId > 0) {
                            $("#SubscriptionId").val(SubscriptionId);
                            GetData();
                        }
                    });




                    function LoadBranchDropdown() {
                        $.ajax({
                            url: '/HREnrollment/GetBranchesByDivisionDefineSchedule',
                            data: { DivisionId: 0, IsAll: true },
                            success: function (result) {
                                Branch = $("#SubscriptionId")
                                Branch.children().remove();
                                $.each(result, function (i, elm) {
                                    Branch.append($("<option>").val(elm.SubscriptionId).text(elm.Institute))
                                })
                                $("#SubscriptionId").append(Branch)

                            },
                            async: false
                        })

                    }
                    $('#SubscriptionId').change(function () {
                        debugger
                        //document.getElementById("CTCombo").innerHTML = "";

                        GetData();
                        // submitForm();

                    });
                    function GetData() {

                        $('#SearchViewDiv').html("");
                        var SubscriptionId = $("#SubscriptionId").val();
                        if (SubscriptionId > 0) {

                            $('#imagemodal').show();
                            $.ajax({
                                url: '/HREnrollment/StaffData',
                                data: { SubscriptionId: SubscriptionId },
                                success: function (data) {
                                    $('#imagemodal').hide();

                                    $("#SearchViewDiv").html(data)
                                },
                                aync: false
                            })
                        }
                    }



                </script>







