@model AsteriskBrowserAL.Models.DataTransferData

@{
    ViewBag.Title = "Data Transfer";

}


@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Reports
        </li>
        <li>
            <i class=""></i>
            Biometric
        </li>
        <li class="active">Data Transfer</li>
    </ul><!-- /.breadcrumb -->
}





<!--Main Content-->
<section class="content">
    <br />
    @using (Html.BeginForm("DataTransfer", "HRBiometric", FormMethod.Post))
    {
        if (null != Model)
        {
            if (null != Model.lstBranch)
            {
                if (null != Model.lstBranch.Count() > 0)
                {
                    if(null != TempData["Status"])
                    {
                        <span style="color:red">@Html.Raw(TempData["Status"])</span>
                    }
                    
                    <div class="box">

                        <div class="box-body">
                            <br />
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Select Branch</label>
                                    <div class="col-sm-4">
                                        @Html.DropDownListFor(model => model.SubscriptionId, new SelectList(Model.lstBranch, "SubscriptionId", "Institute"), "--- Select Branch---", new { @class = "form-control", @style = "width:210px" })
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1">Select Date Range</label>
                                    <div class="col-sm-4">
                                        <div class="input-group">
                                            @if (null != ViewBag.DateRange)
                                            {
                                                <input type="text" value="@ViewBag.DateRange" class="form-control pull-right" id="daterange" name="DateRange" autocomplete="off" />
                                            }
                                            else
                                            {
                                                <input type="text" class="form-control pull-right" id="daterange" name="DateRange" autocomplete="off" />
                                            }
                                           
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary P2" value="transfer to payroll" />
                                </div>

                            </div>
                        <br />
                    </div>
                }
            }

        }

    }
</section>



















