@model AsteriskBrowserAL.Models.StockDispatchData
@{
    ViewBag.Title = "Individual Dispatch Report";
}




@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Stores
        </li>
        <li>
            <i class=""></i>
            Reports
        </li>
        <li class="active">Individual Dispatch Report</li>
    </ul><!-- /.breadcrumb -->
}





@Html.Action("DatePickerScripts", "Base")

<section class="content">
    <br />

    <div class="row">
        <div class=col-xs-12>
            @using (Html.BeginForm("IndividualDispatchReport", "SReports", FormMethod.Post))
            {
                if (null != Model)
                {
                    <span style="color:red;font-weight:bold" id="Validation"></span>
                    <div class="widget-box">
                        <input type="hidden" value="@Model.IsCentral" id="IsCentral" />
                        <div class="widget-header widget-header-flat widget-header-small">
                            <h5 class="widget-title">
                                Individual Dispatch Report
                            </h5>

                            <div class="widget-toolbar no-border">
                                <div class="inline-dropdown hover">
                                    <div class="inline action-buttons">
                                        <a class="P2" id="ViewData" name="ViewData" onclick="return submitForm();"><span class="btn btn-info btn-minier">View Data</span></a>
                                     
                                    </div>
                                  </div>
                        </div>
                            </div>
  
                        <div class="widget-body">
                            <div class="widget-main">

                                @if (Model.IsCentral)
                            {
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="col-xs-6">
                                                <label class="col-xs-4">Division</label>
                                                <div class="col-xs-6">
                                                    @Html.DropDownListFor(model => model.DivisionId, new SelectList(Model.lstDivision, "DivisionId", "DivisionName"), new { @class = "form-control", id = "DivisionId" })
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-xs-4">Branch</label>
                                                <div class="col-xs-6">
                                                    <select id="BranchId" name="SubscriptionId" style="width:200px;" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />

                            }

                                <div class="row">

                                    <div class="col-xs-12">

                                        <div class="col-xs-6">
                                            <label class="col-xs-4">From Date</label>
                                            <div class="col-xs-6">
                                                <div id="datepicker" class="input-group date">
                                                    <input class="form-control" type="text" id="FromDate" name="FromDate" autocomplete="off" placeholder="From Date" />
                                                    <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <label class="col-xs-4">To Date</label>
                                            <div class="col-xs-6">
                                                <div id="datepicker" class="input-group date">
                                                    <input class="form-control" type="text" id="ToDate" name="ToDate" autocomplete="off" placeholder="To Date" />
                                                    <span class="input-group-addon"><i class="ace-icon fa fa-calendar"></i></span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                             </div>
            } 
                        <div id="IndividualDispatchDetails"></div>   
            }
                
             
            
            </div>
        </div>
</section>

<script type="text/javascript">

    var DisplayValidation = "";

    $('#DivisionId').change(function () {

        var DivisionId = $('#DivisionId').val();

        if (DivisionId != 0) {
            $.ajax({

                url: '/Common/GetBranchesByDivisionId',
                data: { DivisionId: DivisionId},
                success: function (data) {

                    var BranchItems = $('#BranchId');

                    BranchItems.children().remove();

                    BranchItems.append($("<option>").val("null").text("--- Select ---"));

                    $.each(data, function (i, record) {
                        BranchItems.append($("<option>").val(record.SubscriptionId).text(record.Institute));
                    });

                    $('#BranchId').append(BranchItems);
                },
                aync: false
            });
        }
    });


    function submitForm() {
        $('#IndividualDispatchDetails').html("");

        DisplayValidation = "";
        DisplayValidation = "Please fill the mandatory fileds : ";

        var Validation = ValidateIndividualDispatch();

        if (Validation == false) {

            document.getElementById("Validation").innerHTML = DisplayValidation;
        }
        else
        {
            document.getElementById("Validation").innerHTML = "";
            var IsCentral = $('#IsCentral').val();

            if (IsCentral == "value")
                IsCentral = "true";

            $.ajax({

                url: '/SReports/GetIndividualDispatchDetails',
                data: { DivisionId: $('#DivisionId').val(), BranchId: $('#BranchId').val(), FromDate: $('#FromDate').val(), ToDate: $('#ToDate').val(), IsCentral: IsCentral },
                beforeSend: function () {
                    $('#imagemodal').show();
                },
                success: function (data) {
                    $('#imagemodal').hide();
                    $('#IndividualDispatchDetails').html(data);
                }
            })
               
            ;
        }
    }


    function ValidateIndividualDispatch() {

        var valid = true;

        var IsCentral = $('#IsCentral').val();

        if (IsCentral == "value")
        {
            var Division = $('#DivisionId').val();

            if (Division == 0)
            {
                valid = false;
                DisplayValidation += "Division, ";
            }

            var BranchId = $('#BranchId').val();
            if (BranchId == null || BranchId == "null" || BranchId == 0) {
                valid = false;
                DisplayValidation += "Branch, ";
            }
        }

        var dtFromDate = $('#FromDate').val();
        if (dtFromDate == "") {
            valid = false;
            DisplayValidation += "From Date, ";
        }

        var dtToDate = $('#ToDate').val();
        if (dtToDate == "") {
            valid = false;
            DisplayValidation += "To Date, ";
        }

        return valid;
    };
   
</script>




