@model AsteriskBrowserAL.Models.FeeDueList
@{
    ViewBag.Title = "Fee Due Report";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-money"></i>
            Finance
        </li>
        <li>
            <i class=""></i>
            Reports
        </li>
        <li class="active">Consolidate Due Report</li>
    </ul><!-- /.breadcrumb -->
}


<section class="content">




    <div class="row">
        <div class="col-xs-12">
            <span style="color:red;font-weight:bold" id="Validation"></span>
                @using (Html.BeginForm("ExportConsolidateDueReport", "FReports", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                   
            
            <div class="table-header">
                <span style="font-family:calibri;">Consolidate Report</span>
                <div class="" style="float:right;margin-right:10px;">
                    <a class="btncustom P2" id="btnViewData">View Data</a>
                </div>

            </div>

            
            
            <div class="widget-box">

                  



                        <input type="hidden" value="@Model.IsCentral" id="IsCentral" />
                        <input type="hidden" value="@Model.IsoverAll" id="IsOverall" />

                        <div class="widget-body">
                            <div class="widget-main">
                                @if (Model.IsCentral)
                                {
                               
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="col-xs-6">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Division</label>
                                                <div class="col-sm-6">
                                                    @Html.DropDownListFor(model => model.DivisionId, new SelectList(Model.LstDivisions, "DivisionId", "DivisionName"), new { @class = "form-control", id = "DivisionId" })
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Branch</label>
                                                <div class="col-sm-6">
                                                    <select id="CboBranch" class="form-control"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                   
                                }
                                else
                                {
                                    <input type="hidden" id="CboBranch" name="CboBranch" value="@Model.SubscriptionId" />
                                }
                                <div class="row">
                                    <div class="col-xs-12">
                                        <hr  style="margin:10px;"/>
                                        <div class="col-xs-6">
                                            <table class="col-xs-4 no-border">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <input type="radio" id="Branch" name="Due" value="true"><b> &nbsp; Branch</b>
                                                        </td>
                                                        <td>
                                                            <input type="radio" id="Section" name="Due" value="false"><b> &nbsp; &nbsp; Section</b>
                                                        </td>

                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                        <table class="col-xs-3 no-border">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="checkbox" class="checked" name="Status" id="IsAlumini" value="false"><b> &nbsp;Alumini &nbsp; &nbsp;</b>
                                                    </td>

                                                    <td>
                                                        <input type="radio" id="All" name="Status" value="true" checked="checked"><b> &nbsp; All &nbsp; &nbsp;</b>
                                                    </td>

                                                    <td>
                                                        <input type="radio" id="Active" name="Status" value="false"><b> &nbsp; Active &nbsp; &nbsp;</b>
                                                    </td>
                                                    <td>
                                                        <input type="radio" id="InActive" name="Status" value="false"><b> &nbsp;In-Active &nbsp; &nbsp;</b>
                                                    </td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    

                    </div>
                    <div id="TbSectionWiseReport">
                    </div>
                }
        </div>
    </div>

   

</section>

<script >

    $(document).ready(function () {
        PrepareCheckbox();
        var IsCentral = $('#IsCentral').val();

        if (IsCentral != "value") {
            //  LoadClassNumbers();
        }

    });

    $('#DivisionId').change(function () {
        debugger
        var DivisionId = $('#DivisionId').val();
        $('#TbSectionWiseReport').html('');
        $('#CboBranch').html('');
        $('#CboClassNumber').html('');
        $('#CboSection').html('');


        if (DivisionId != 0) {
            $.ajax({
                url: '/Common/GetBranchesByDivisionId',
                data: { DivisionId: DivisionId },
                success: function (data) {
                    var BranchItems = $('#CboBranch');

                    BranchItems.children().remove();

                    BranchItems.append($("<option>").val("0").text("--- Select ---"));

                    $.each(data, function (i, record) {
                        if (record.IsCentral != true) {
                            BranchItems.append($("<option>").val(record.SubscriptionId).text(record.Institute));
                        }
                    });

                    $('#CboBranch').append(BranchItems);
                },
                aync: false
            });
        }
        else {
            var BranchItems = $('#CboBranch');
            BranchItems.children().remove();
            BranchItems.append($("<option>").val(0).text(""));

            var ClassItems = $('#CboClassNumber');
            ClassItems.children().remove();
            ClassItems.append($("<option>").val(0).text(""));

        }
    });

    $('#CboBranch').change(function () {
        var BranchId = $('#CboBranch').val();
        $('#TbSectionWiseReport').html('');
        $('#CboClassNumber').html('');
        $('#CboSection').html('');

        if (BranchId != 0) {
            LoadClassNumbers();
        }
        else {
            var BranchItems = $('#CboClassNumber');
            BranchItems.children().remove();
            BranchItems.append($("<option>").val(0).text(""));
        }
    });

    function LoadClassNumbers() {

        $.ajax({
            url: '/FReports/GetClasses',
            success: function (data) {
                var ClassItems = $('#CboClassNumber');
                ClassItems.children().remove();
                ClassItems.append($("<option>").val("null").text("--- Select ---"));

                $.each(data, function (i, record) {
                    ClassItems.append($("<option>").val(record.ClassNumber).text(record.ClassNumberDisplay));
                });

                $('#CboClassNumber').append(ClassItems);
            },
            aync: false
        });

    }


    $('#CboClassNumber').change(function () {
        var ClassNumberId = $('#CboClassNumber').val();
        $('#TbSectionWiseReport').html('');
        $('#CboSection').html('');
        debugger
        if (ClassNumberId > -1) {
            LoadSections();
        }
        else {
            var ClassItems = $('#CboSection');
            ClassItems.children().remove();
            ClassItems.append($("<option>").val("null").text("--- Select ---"));
        }
    });

    $('#IsAlumini').change(function () {
        $('#TbSectionWiseReport').html('');
    });

    $('#Branch').change(function () {
        $('#TbSectionWiseReport').html('');
    });

    $('#Section').change(function () {
        $('#TbSectionWiseReport').html('');
    });

    function LoadSections() {
        debugger
        var ClassNumberId = $('#CboClassNumber').val();
        var SubId = $('#CboBranch').val();

        $.ajax({
            url: '/FReports/GetSections',
            data: { nClassNumberId: ClassNumberId, nSubId: SubId },
            success: function (data) {
                var ClassItems = $('#CboSection');
                ClassItems.children().remove();
                ClassItems.append($("<option>").val("null").text("--- Select ---"));
                ClassItems.append($("<option>").val("0").text("All"));

                $.each(data, function (i, record) {
                    ClassItems.append($("<option>").val(record.SectionId).text(record.SectionCode));
                });

                $('#CboSection').append(ClassItems);
            },
            aync: false
        });

    }

    function PrepareCheckbox() {
        document.getElementById("IsAlumini").checked = false;
        document.getElementById("Branch").checked = true;
    }

    $('#btnViewData').click(function () {
        var DivisionId = $('#DivisionId').val();
        var SubscriptionId = $('#CboBranch').val();
        var IsCentral = $('#IsCentral').val();

        var ConsolidatedType = 1;
        var IsAlumini = $('#IsAlumini').val();

        if (document.getElementById('Branch').checked) {
            ConsolidatedType = 1;
        }

        if (document.getElementById('Section').checked) {
            ConsolidatedType = 2;
        }

        if (document.getElementById('All').checked) {
            Studentstype = 0;
        }

        if (document.getElementById('Active').checked) {
            Studentstype = 1;
        }

        if (document.getElementById('InActive').checked) {
            Studentstype = 2;
        }

        if (document.getElementById('IsAlumini').checked) 
            IsAlumini = true;
        else
            IsAlumini = false;

        var isValid = true;
        var Message = "Please fill the mandatory fields :  ";

        var IsCentral = $('#IsCentral').val();

        if (IsCentral == "value") {
            IsCentral = true;
            if (DivisionId == "null" || DivisionId <= 0 && DivisionId != -1) {
                Message += "Division";
                isValid = false;
            }

            if (SubscriptionId == "null" || SubscriptionId <= 0 && SubscriptionId != -1) {
                if (!isValid)
                    Message += ",";

                Message += " Branch";
                isValid = false;
            }

        }

        if (!isValid) {
            document.getElementById("Validation").innerHTML = Message;
            return;
        }

        document.getElementById("Validation").innerHTML = "";
        $('#imagemodal').show();

        $.ajax
            ({
                error: function (jqXHR, textStatus, errorThrown) {

                    $('#imagemodal').hide();
                },
                url: '/FReports/GetFeeDueReportBySectionWise/',
                data: { DivisionId: DivisionId, SubscriptionId: SubscriptionId, IsCentral: IsCentral, ConsolidatedType: ConsolidatedType, IsAlumini: IsAlumini, Studentstype: Studentstype },
                success: function (data) {

                    $('#imagemodal').hide();
                    $('#TbSectionWiseReport').html('');
                    $('#TbSectionWiseReport').html(data);
                }

            }).done(function () {
                $('#imagemodal').hide();
            });

    });

</script>
