
@{
    ViewBag.Title = "DaySheetApprovalReport";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-money"></i>
            Finance
        </li>
        <li>
            <i class=""></i>
            Reports
        </li>
        <li class="active">Daysheet Approval Report</li>
    </ul><!-- /.breadcrumb -->
}

<section class="content">

    <div class="row">
        <div class=col-xs-12>




            <div class="table-header">
                <span style="font-family:calibri;"> Daysheet Approval Report</span>



            </div>
                <div class="widget-box">
             
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-6">
                                        <label class="col-sm-4 control-label no-padding-right">@Html.Label("Month")</label>
                                        <div class="col-xs-6">
                                            @Html.DropDownList("MonthValue", null, "--- Select ---", new { @class = "form-control", @id = "MonthValue" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="SearchData"></div>
            </div>
    </div>
</section>


<script>

    $('#MonthValue').change(function () {
        debugger
        $('#SearchData').html('');
        var MonthValue = $('#MonthValue').val()
        if (MonthValue != "") {
            $.ajax({
                url: '/FReports/GetDaysheetApprovalReportData',
                data: { MonthValue: MonthValue },
                beforeSend: function () {
                    $('#imagemodal').show();
                },
                success: function (data) {
                    $('#SearchData').html(data);
                }
            }).done(function () {
                $('#imagemodal').hide();
            });
        }
    })
</script>