@model AsteriskBrowserAL.Models.StudentDetailsData

@{
    int nSubId = AsteriskBrowserAL.Helpers.Utility.GetLoggedSubscriptiond();
    ViewBag.Title = "Record Sheet";
}

@section BreadCrumb{
    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-database"></i>
            <a href="#">Academics</a>
        </li>
        <li>
            <i class=""></i>
            Reports
        </li>
        <li class="active">Record Sheet</li>
    </ul><!-- /.breadcrumb -->
}

<form id="myForm" method="post">
    <section class="content">
        <div class="row">
            <div class=col-xs-3>
            </div>
        </div>
        <br />
        <div style="color:red;font-weight:bold;" id="Validation"></div>

        <div class="row">
            <div class="col-xs-12">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat widget-header-small">
                        <h5 class="widget-title">
                            Record Sheet
                        </h5>

                        <div class="widget-toolbar no-border">
                            <div class="inline action-buttons">
                                <a class="btn btn-info btn-minier P2" id="btnViewData">View Data</a>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" value="@Model.IsCentral" id="IsCentral" />

                    <div class="widget-body">
                        <div class="widget-main">
                            @if (Model.IsCentral)
                            {

                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="col-xs-6">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Division</label>
                                            <div class="col-sm-6">
                                                @Html.DropDownListFor(model => model.DivisionId, new SelectList(Model.LstDivisions, "DivisionId", "DivisionName"), new { @class = "form-control", id = "DivisionId" })
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Branch</label>
                                            <div class="col-sm-6">
                                                <select id="CboBranch" style="width:200px;" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                            }
                            else
                            {
                                <input type="hidden" id="CboBranch" value="@nSubId" />
                            }

                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-6">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Class</label>
                                        <div class="col-sm-6">
                                            <select id="CboClassNumber" name="CourseId" class="form-control"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Section</label>
                                        <div class="col-sm-6">
                                            <select id="Sectionid" name="Sectionid" class="form-control"></select>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div id="SearchDiv"></div>
            </div>
        </div>
    </section>

</form>

<script>

    $(document).ready(function () {
        debugger

        var IsCentral = $('#IsCentral').val();

        if (IsCentral != "value") {
            LoadClassNumbers();
        }

    });

    $('#DivisionId').change(function () {
        $("#SearchDiv").html("");
        $('#CboClassNumber').children().remove();
        $('#Sectionid').children().remove();

        var DivisionId = $('#DivisionId').val();

        if (DivisionId != 0) {
            $.ajax({
                url: '/Common/GetBranchesByDivisionId',
                data: { DivisionId: DivisionId },
                success: function (data) {
                    var BranchItems = $('#CboBranch');

                    BranchItems.children().remove();

                    BranchItems.append($("<option>").val("0").text("--- Select ---"));

                    $.each(data, function (i, record) {
                        if (record.IsCentral != true) {
                            BranchItems.append($("<option>").val(record.SubscriptionId).text(record.Institute));
                        }
                    });

                    $('#CboBranch').append(BranchItems);
                },
                aync: false
            });
        }
        else {
            var BranchItems = $('#CboBranch');
            BranchItems.children().remove();
            BranchItems.append($("<option>").val(0).text(""));

            var ClassItems = $('#CboClassNumber');
            ClassItems.children().remove();
            ClassItems.append($("<option>").val(0).text(""));
        }
    });

    $('#btnViewData').click(function () {
        $("#SearchDiv").html("");
        debugger
        var DivisionId = $('#DivisionId').val();

        if (DivisionId == undefined)
            DivisionId = 0;

        var SubscriptionId = $('#CboBranch').val();
        var Class = $('#CboClassNumber').val();
        var SectionId = $('#Sectionid').val();

        if (SectionId == undefined)
            SectionId = 0;

        var isValid = true;
        var Message = "Please fill the mandatory fields :  ";
        var Date = "";
        var IsCentral = $('#IsCentral').val();


        //var TillDate = $('#Date').val();

        if (IsCentral == "value") {
            IsCentral = true;
            if (DivisionId == "null" || DivisionId <= 0 && DivisionId != -1) {
                Message += "Division";
                isValid = false;
            }

            if (SubscriptionId == "null" || SubscriptionId <= 0 && SubscriptionId != -1) {
                if (!isValid)
                    Message += ",";

                Message += " Branch";
                isValid = false;
            }

        }

        if (Class < -1 || Class == "null") {

            if (!isValid)
                Message += ",";

            Message += " Class";
            isValid = false;
        }

        if (!isValid) {
            document.getElementById("Validation").innerHTML = Message;
            return;
        }

        document.getElementById("Validation").innerHTML = "";
        $('#imagemodal').show();

        $.ajax
            ({
                error: function (jqXHR, textStatus, errorThrown) {

                    $('#imagemodal').hide();
                },
                url: '/AReports/GetStudentsForRecordSheet/',
                data: { DivisionId: DivisionId, SubscriptionId: SubscriptionId, IsCentral: 0, ClassNumber: Class, SectionId: SectionId },
                success: function (data) {

                    $('#imagemodal').hide();
                    $('#SearchDiv').html('');
                    $('#SearchDiv').html(data);
                }

            }).done(function () {
                $('#imagemodal').hide();
            });

    });

    $('#CboBranch').change(function () {

        $("#SearchDiv").html("");
        $('#CboClassNumber').children().remove();
        $('#Sectionid').children().remove();

        var BranchId = $('#CboBranch').val();

        if (BranchId != 0) {
            LoadClassNumbers();
        }
        else {
            var BranchItems = $('#CboClassNumber');
            BranchItems.children().remove();
            BranchItems.append($("<option>").val(0).text(""));
        }
    });

    function LoadClassNumbers() {

        $.ajax({
            url: '/FReports/GetClasses',
            success: function (data) {
                var ClassItems = $('#CboClassNumber');
                ClassItems.children().remove();
                ClassItems.append($("<option>").val("null").text("--- Select ---"));

                $.each(data, function (i, record) {
                    ClassItems.append($("<option>").val(record.ClassNumber).text(record.ClassNumberDisplay));
                });

                $('#CboClassNumber').append(ClassItems);
            },
            aync: false
        });

    }

    $('#CboClassNumber').change(function () {
        debugger
        $("#SearchDiv").html("");
        $("#Sectionid").children().remove();
        LoadSectionsDropdown();
    });

    function LoadSectionsDropdown() {
        debugger
        var SelClassId = $("#CboClassNumber").val();
        var CboBranch = $("#CboBranch").val();

        if (SelClassId != "null" && CboBranch > 0)

            $.ajax({
                url: '/Common/GetSectionsByClassAndBranch',
                data: { nClassNumber: SelClassId, nSubId: CboBranch },
                success: function (result) {

                    var SectionItems = $("#Sectionid")
                    SectionItems.children().remove();
                    SectionItems.append($("<option>").val("null").text("--- Select ---"))
                    SectionItems.append($("<option>").val("-1").text("All"))

                    $.each(result, function (e, record) {
                        SectionItems.append($("<option>").val(record.SectionId).text(record.SectionCode))
                    });

                    $("#Sectionid").append(SectionItems);

                    //if (sectionId > 0) {
                    //    document.getElementById("Sectionid").value = sectionId;
                    //    GetStudentData();
                    //}
                },
                async: false
            })
    }

    //$('#Sectionid').change(function () {
    //    GetStudents();
    //})

    $('#Sectionid').change(function () {
        $("#SearchDiv").html("");
        document.getElementById('Validation').innerHTML = ""
    })

</script>