@model AsteriskBrowserAL.Models.ItemModel

@{
    ViewBag.Title = "Item Group";
}

@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Stores
        </li>
        <li>
            <i class=""></i>
            Master Data
        </li>
        <li class="active">Item</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">
    <br />

    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm("Item", "SMasterData", FormMethod.Post))
            {
                <span style="color:red;" id="Validation"></span>
                <input type="hidden" value="@Model.InventorySubCategoryItemTypeId" id="SelGroupId" />
    <input type="hidden" value="@Model.SubCategoryId" id="SelSubCategoryId" />
    <div class="widget-box">

        <div class="widget-header widget-header-flat widget-header-small">
            <h5 class="widget-title">
           Item
            </h5>

            <div class="widget-toolbar no-border">
                <div class="inline action-buttons">
                    <a onclick="return SubmitForm()" class="blue P2" ><i class="fa fa-plus-circle bigger-200"></i></a>
                </div>

            </div>
        </div>
        <br />
        <div class="widget-body">
            <div class="widget-main">

                <div class="row">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Category</label>
                        <div class="col-sm-6" style="width:250px;">
                            @if (null != Model)
                            {
                                if (null != Model.lstCategory)
                                {
                                    @Html.DropDownListFor(model => model.CategoryId, new SelectList(Model.lstCategory, "InventoryCategoryId", "CategoryName"), "--- Select ---", new { @class = "form-control", id = "CategoryId" })
                                }
                                else
                                {
                                    <select id="CategoryId" style="width:200px;" class="form-control"></select>
                                }
                            }
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Sub Category</label>
                        <div class="col-sm-6">
                            <select id="SubCategoryId" style="width:200px;" class="form-control"></select>
                        </div>
                    </div>
                </div>

                <br />

                <div class="row">
                    <div class="col-sm-6">
                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Item Group</label>
                        <div class="col-sm-6">
                            <select id="ItemGroupId" style="width:226px;" class="form-control"></select>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>



        <div id="Items"></div>
        }
    </div>
    </div>
</section>


<script>

    $(document).ready(function () {
        if ($('#CategoryId').val() > 0) {
            GetSubCategories();
        }
    })

    $('#CategoryId').change(function () {
        $('#SubCategoryId').html("");
        $('#ItemGroupId').html("");
        $('#Items').html("");
        document.getElementById("Validation").innerHTML = "";
        var CategoryId = $(this).val();

        if (CategoryId > 0) {
            GetSubCategories();
        }
    });

    $('#SubCategoryId').change(function () {
        document.getElementById("Validation").innerHTML = "";
        $('#ItemGroupId').html("");
        $('#Items').html("");
        LoadItemGroups();
    });

    function LoadItemGroups()
    {
        var SubCategoryId = $('#SubCategoryId').val();

        if (SubCategoryId > 0) {
            $.ajax({
                url: '/SMasterData/LoadItemGroups',
                data: { SubCategoryId: SubCategoryId },
                success: function (data) {

                    var GroupItems = $('#ItemGroupId');

                    GroupItems.children().remove();

                    GroupItems.append($("<option>").val("null").text("--- Select ---"));

                    $.each(data, function (i, record) {

                        GroupItems.append($("<option>").val(record.InventorySubCategoryItemTypeId).text(record.ItemTypeName));
                    });

                    $('#ItemGroupId').append(GroupItems);

                    if ($('#SelGroupId').val() > 0) {

                        document.getElementById("ItemGroupId").value = $('#SelGroupId').val();
                        GetData();
                    }
                },
                aync: false
            });
        }
    }


    function GetSubCategories() {
        var CategoryId = $('#CategoryId').val();

        if (CategoryId > 0) {
            $.ajax({

                url: '/SMasterData/GetSubCategoriesByCategoryId',
                data: { CategoryId: CategoryId },
                success: function (data) {

                    var SubCategoryItems = $('#SubCategoryId');

                    SubCategoryItems.children().remove();

                    SubCategoryItems.append($("<option>").val("null").text("--- Select ---"));

                    $.each(data, function (i, record) {

                        SubCategoryItems.append($("<option>").val(record.InventorySubCategoryId).text(record.SubCategoryName));

                    });

                    $('#SubCategoryId').append(SubCategoryItems);

                    if ($('#SelSubCategoryId').val() > 0) {

                        document.getElementById("SubCategoryId").value = $('#SelSubCategoryId').val();
                        LoadItemGroups();
                    }

                },
                aync: false
            });
        }
    }

    $('#ItemGroupId').change(function () {
        document.getElementById("Validation").innerHTML = "";
        GetData();
    });

    function SubmitForm() {

        var valid = true;

        var CategoryId = $('#CategoryId').val();
        var SubCategoryId = $('#SubCategoryId').val();
        var ItemGroupId = $('#ItemGroupId').val();

        if (CategoryId == "" || CategoryId < 1) {
            document.getElementById("Validation").innerHTML = "Please select category";
            return false;
        }

        if (SubCategoryId == "" || SubCategoryId == "null" || SubCategoryId < 1 || SubCategoryId == null) {
            document.getElementById("Validation").innerHTML = "Please select sub category";
            return false;
        }

        if (ItemGroupId == "" || ItemGroupId == "null" || ItemGroupId < 1 || ItemGroupId == null) {
            document.getElementById("Validation").innerHTML = "Please select item group";
            return false;
        }

        if(valid == true)
        {
          
            window.location.href = '/SMasterData/ItemC?CategoryId=' + CategoryId + '&SubCategoryId=' + SubCategoryId + '&ItemGroupId=' + ItemGroupId;
           
        }
    }

    function GetData() {

        var id = $('#ItemGroupId').val();
        if (id > 0)
        {
            $('#imagemodal').show();
            $.ajax({
                url: '/SMasterData/GetItems',
                data: { ItemGroupId: $('#ItemGroupId').val() },

                success: function (data) {
                    $('#imagemodal').hide();
                    $('#Items').html(data);
                }
            });
        }
        else
        {
            $('#Items').html("");
        }
    }


    function btnConfirm(Value) {
        if (Value > 0) {
            $.ajax({
                url: '/SeHR/ValidationForItemD',
                data: { Id: Value },
                success: function (data) {
                    debugger
                    var url = '/SeHR/ItemD?Id=' + Value;
                    var title = "Item ";

                    OpenDialog(data, url, title);
                },
                async: false
            });
        }
    }
</script>

