@{
    ViewBag.Title = "Receiving Qty";

    bool IsKit = true;


}



@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-list"></i>
            Stores
        </li>
        <li>
            <i class=""></i>
           Master Data
        </li>
        <li class="active">Kit Details</li>
    </ul><!-- /.breadcrumb -->
}

<style>
    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }

    .selected {
        background-color: #ccc;
    }
</style>


<section class="content">
    <form id="myForm" method="post">
        <div class="row">
            <div class="col-xs-12">

                <div class="row">
                    <div class="col-sm-6">
                        <div id="Kits"></div>
                    </div>
                    <div class="col-sm-6">
                        <div id="KitDetails"></div>
                    </div>
                </div>

            </div>
        </div>
    </form>

</section>

<script>
    $(document).ready(function () {
        PopulateKits();
    });

    function PopulateKits()
    {
        $.ajax({
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
            },

            url: '/SMasterData/PopulateAllKits',
            beforeSend: function () {
                $('#imagemodal').show();
            },
            success: function (Data) {
                $('#Kits').html(Data);
            }
        }).done(function () {
            $('#imagemodal').hide()
        });
    }

    $(document).on("click", "#Tab1 tr", function (e) {
        debugger
            var val = $(this).find('#KitId').val();

            if (val > 0) {
                document.getElementById("msg").style.display = "none";

                $("#Tab1 tbody tr").children('td,th').css('background-color', 'transparent');
                $(this).children('td,th').css('background-color', '#c4e2d1');

                $.ajax({
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                    },

                    url: '/SMasterData/PopulateKitItems',
                    data: { KitId: val },
                    beforeSend: function () {
                        $('#imagemodal').show();
                    },
                    success: function (Data) {
                        $('#KitDetails').html(Data);
                    }
                }).done(function () {
                    $('#imagemodal').hide()
                });
            }

    });

</script>












