@model AsteriskBrowserAL.Models.BranchTransferViewModel
@{
    ViewBag.Title = "Approve Branch Transfer";
}


<link href="~/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" />
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<!-- CSS -->
<style>
    .ui-widget-header, .ui-state-default, ui-button {
        background: #3c8dbc;
        border: 1px solid #3c8dbc;
        color: #3c8dbc;
        font-weight: normal;
    }
</style>
@section BreadCrumb{

    <ul class="breadcrumb">
        <li>
            <i class="menu-icon fa fa-graduation-cap"></i>
            Academics
        </li>
        <li>
            <i class=""></i>
            Front Office
        </li>
        <li class="active">Approve Branch Transfer</li>
    </ul><!-- /.breadcrumb -->
}




<section class="content">

    @using (Html.BeginForm())
    {
        <span style="color:red;font-weight:bold" id="Validation"></span>
        <div class="table-header">
            <span style="font-family:calibri;"> Branch Transfer  Approval</span>
            <div  style="float:right;margin-right:10px;">
                @*<input type="button" class="btn btn-primary pull-right" id="btnViewData2" style="min-width:80Px" value="View Data" onclick="GetData()" />*@
                <a class="P2" onclick="GetData()" id="btnViewData2" value="View Data">
                <span class="btncustom">View Data</span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
     
                <div class="widget-box">
                 

                    <input type="hidden" value="@Model.IsCentral" id="IsCentral" />

                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="row">
                                @if (Model.IsCentral)
                                {
                                    <div class="col-sm-12">
                                        <div class="col-xs-6">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Division</label>
                                            <div class="col-sm-6">
                                                <select id="CboDivision" class="form-control" onchange="LoadBranchCombo()"></select>
                                            </div>
                                        </div>

                                        <div class="col-xs-6">
                                            <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Branch</label>
                                            <div class="col-sm-6">
                                                <select id="CboBranch" class="form-control"></select>
                                            </div>
                                        </div>

                                        
                                    </div>
                                   
                                }
                                else
                                {
                                    <input type="hidden" id="CboBranch" name="CboBranch" value="@Model.SubscriptionId" />
                                }


                                <div class="col-sm-12">

                                    <div class="col-xs-6">
                                       
                                        <label class="col-sm-4 control-label no-padding-right" for="form-field-1">Status</label>
                                        <div class="col-sm-6">
                                            <select id="CboStatus" class="form-control"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                           
                        </div>
                    </div>
                </div>

                <div class="box-body table-responsive no-padding" id="dvApproveBranchTransfers">
                </div>

                <div id="dvApprovalRemarks" style="display:none;height:250Px" role="dialog">
                    <div class="box">
                        <div class="box-body">
                            <label class="col-sm-4" >@Html.Label("Enter Description")</label>
                            <div>
                                @Html.TextBoxFor(model => model.ActionDescription, new { autocomplete = "off", @class = "form-control textlength", @id = "ActionDescription", placeholder = "Enter Description", @maxlength = 248, @height = "200Px" })
                                <div class="col-sm-12" style="display:none;" id="ActionDescriptionNull">
                                    <label style="color:red;font-weight:bold;"> Required </label>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>



            </div>
        
        </div>
    }
</section>
<script type="text/javascript">
    $('#ActionDescription').focusin(function () {
        $('#ActionDescriptionNull').hide();
    });
    function ONLOADDATA() {
        var IsCentral = $('#IsCentral').val();

        if (IsCentral == "value") {
            LoadDivisionCombo();
        }

        LoadStatusCombo();

    }
    window.onload = ONLOADDATA();
    function LoadBranchCombo() {
        $('#dvApproveBranchTransfers').html('');
        var DivisionId = $('#CboDivision').val();
        if (DivisionId >= 0) {
            $.ajax({
                url: '/Common/GetBranchesByDivision',
                data: { DivisionId: DivisionId },
                success: function (data) {
                    var BranchItems = $('#CboBranch');
                    BranchItems.children().remove();

                    $.each(data, function (i, record) {
                        BranchItems.append($("<option>").val(record.SubscriptionId).text(record.Institute));
                    });

                    $('#CboBranch').append(BranchItems);
                },
                aync: false
            });
        }
        else {
            var BranchItems = $('#CboBranch');
            BranchItems.children().remove();
            BranchItems.append($("<option>").val(0).text(""));


        }
    }

    function LoadStatusCombo() {

        var StatusItems = $('#CboStatus');

        StatusItems.children().remove();
        StatusItems.append($("<option>").val("-1").text("--- Select ---"));
        StatusItems.append($("<option>").val("0").text("Pending"));
        StatusItems.append($("<option>").val("1").text("Accepted"));
        StatusItems.append($("<option>").val("2").text("Rejected"));
        StatusItems.append($("<option>").val("3").text("All"));

        $('#CboStatus').append(StatusItems);
    }

    function LoadDivisionCombo() {

        $('#dvApproveBranchTransfers').html('');

        $.ajax({
            url: '/Common/GetDivisions',
            data: { IsAll: true },
            success: function (data) {
                var BranchItems = $('#CboDivision');

                BranchItems.children().remove();

                $.each(data, function (i, record) {
                    BranchItems.append($("<option>").val(record.DivisionId).text(record.DivisionName));
                });

                $('#CboDivision').append(BranchItems);
            },
            aync: false
        });
    }

    function GetData() {
        var DivisionId = $('#CboDivision').val();
        var SubscriptionId = $('#CboBranch').val();
        var Status = $('#CboStatus').val();
        var IsCentral = $('#IsCentral').val();

        $('#dvApproveBranchTransfers').html('');

        var isValid = true;
        var Message = "Please fill the mandatory fields :  ";

        if (IsCentral == "value") {
            if (DivisionId < 0) {
                Message += "Division";
                isValid = false;
            }

            if (SubscriptionId == "null" || SubscriptionId < 0) {
                if (!isValid)
                    Message += ",";

                Message += " Branch";
                isValid = false;
            }
        }
        else
            DivisionId = 0;

        if (Status < 0) {
            if (!isValid)
                Message += ",";

            Message += " Status";
            isValid = false;
        }


        if (!isValid) {
            document.getElementById("Validation").innerHTML = Message;
            return;
        }

        document.getElementById("Validation").innerHTML = "";
        $('#imagemodal').show();
        $.ajax
            ({
                url: '/AFrontOffice/GetBranchTransferRequestData/',
                data: { DivisionId: DivisionId, SubscriptionId: SubscriptionId, StatusId: Status },
                success: function (data) {
                    $('#imagemodal').hide();
                    $('#dvApproveBranchTransfers').html(data);
                }
            });
    }

    function SaveStatus(BranchTransferId, nFromBranch, nToBranch, nAction, Description) {
        $('#imagemodal').show();

        $.ajax({
            error: function (jqXHR, textStatus, errorThrown) {
                alert(errorThrown);
                $('#imagemodal').hide();
            },

            url: '/AFrontOffice/SaveApproveBranchTransferAction/',
            data: { BranchTransferId: BranchTransferId, nFromBranch: nFromBranch, nToBranch: nToBranch, nAction: nAction, strDescription: Description },
            success: function (data) {
                GetData();
            },
            aync: false
        }).done(function () {
            $('#imagemodal').hide();
        });
    }

    function ApproveBD(BranchTransferId, FromBranch, ToBranch, Type) {

        if (BranchTransferId < 1)
            retun;

        var $dialog = $('#dvApprovalRemarks')

            .dialog({
                autoOpen: false,
                width: 600,
                height: 'auto',
                resizable: true,
                title: 'Branch Transfer Approval',
                modal: true,
                closeOnEscape: false,
                responsive: true,
            
                buttons: {
                    "OK": function () {

                        debugger

                        var Description = $('#ActionDescription').val();

                        if (Description == "") {
                            $('#ActionDescriptionNull').show();
                            return;
                        }
                        else {
                            $(this).dialog("close");
                            var VrMessage = SaveStatus(BranchTransferId, FromBranch, ToBranch, Type, Description);
                            $('#Validation').val(VrMessage);
                        }
                    },
                    "Close": function () {
                        $(this).dialog("close");
                    }
                },
            });

        $dialog.dialog('open');
        e.preventDefault();
        return false;
    }

    function disableF5(e) {
        if ((e.which || e.keyCode) == 116) e.preventDefault();
    };

</script>
