
<script>



    $(document).ready(function () {
        PrintElem('#mydiv');
        window.location.href = '/AFrontOffice/Admission'
    });

    function PrintElem(elem) {
        Popup($(elem).html());
    }

    function Popup(data) {
        var mywindow = window.open('', 'my div', 'height=300,width=600');
        mywindow.document.write('<p></p>');
        mywindow.document.write(data);
        mywindow.document.write('<p></p>');

        mywindow.document.close();
        mywindow.focus();

        mywindow.print();
        mywindow.close();

        return true;
    }

    function RedirectToAdmission() {
        window.location.href = '/AFrontOffice/Admission'
    }
</script>
