@model IEnumerable<AsteriskBrowserAL.Models.CommentData>

@{
    Layout = null;
}
<span id="Commentmsg" style="color:red;font-weight:bold;display:none">Enter Comment</span>
<div class="row">
    <div class="col-sm-12">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title lighter">Ticket No : @Model.FirstOrDefault().TicketNo</h4>
            </div>
            <div class="widget-body">
                <div class="widget-main padding-6 no-padding-left no-padding-right" style="overflow:auto;height:400px">
                    @foreach (var item in Model)
                    {
                        <div class="dialogs">
                            <div class="itemdiv dialogdiv">
                                <div class="user">
                                    <img alt="Alexa's Avatar" src="~/Content/images/NoPhoto.jpg" />
                                </div>
                                <div class="body">
                                    <div class="time">
                                        <i class="ace-icon fa fa-clock-o"></i>
                                        <span class="green">
                                            @item.dateTime.ToString("dd-MMM-yyyy hh:mm tt")
                                        </span>
                                    </div>
                                    <div class="name">
                                        @item.SentBy
                                    </div>
                                    <div class="text">
                                        @item.Comment
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <input placeholder="Type your comments here ..." type="text" class="form-control " name="Comment" id="Comment" style="border-radius"/>
            </div>
        </div>
    </div>
</div>

<script>
    $('#Comment').focus(function () {
        $('#Commentmsg').hide()
    })
</script>